<div class="padre">
    <div class="chatTop" >
            <div>
                    <p class="titulo">Chats</p>
            </div>
            <div class="cerrar-cont">
                <button on-click="cerrar()" class="cerrar">X</button>
        </div>

    </div>
    <div class="chatMain">
            <div class="listaChats" >
                    <div class="lista">
                        <div class="mensaje2">
                            <p> Hola Queríamos contactar con vosotros</p>
                        </div>
                        <div class="mensaje1">
                            <p> Genial!o</p>
                        </div>
                        <div class="mensaje1">
                            <p> Podríamos jugar esta semana</p>
                        </div>
                        <div class="mensaje2">
                            <p> Si! nosotros tambien, el jueves por la tarde</p>
                        </div>                        
                        <div class="mensaje1">
                            <p> Nosotros podemos también</p>
                        </div>
                        <div *ngIf="this.enviado == true" class="mensaje1">
                            <p> Hola de nuevo</p>
                        </div>
                    </div>
                    <div class="barrita"></div>
            </div>
            <div class="inputTexto">
                <textarea  class="text" name="texto" id="" placeholder="aqui el mensaje"></textarea>
                <div class="boton" on-click="enviar()">Enviar</div>
            </div>
    </div> 
</div>
