<div class="padre">
    <div class="chatTop" >
            <div>
                    <p class="titulo">Conversaciones</p>
            </div>
            <div>
                    <button disabled="disabled">≡</button> 
                    <button disabled="disabled">﹀</button> 
                    <button disabled="disabled">X</button>
            </div>

    </div>
    <div class="chatMain">
            <div class="listaChats" >
                    <div class="lista">
                        <div class="mensaje1">
                            <p> mensaje de prueba 1</p>
                        </div>
                        <div class="mensaje2">
                            <p> mensaje de prueba 2 largo</p>
                        </div>
                        <div class="mensaje1">
                            <p> mensaje de prueba un poco mas largo</p>
                        </div>
                        <div class="mensaje2">
                            <p> mensaje de prueba 2</p>
                        </div>                        
                        <div class="mensaje1">
                            <p> mensaje de prueba 1</p>
                        </div>
                        <div class="mensaje2">
                            <p> mensaje de prueba mas largo aun que el anterior</p>
                        </div>
                    </div>
                    <div class="barrita"></div>
            </div>
            <div class="inputTexto">
                <textarea  class="text" name="texto" id="" placeholder="aqui el mensaje"></textarea>
                <div class="boton">Enviar</div>
            </div>
    </div> 
</div>
