.padre{
        display: flex;
        flex-direction: column;
        align-items: center;    
        background-size: 100%;
        height: 100vh;
        background-image: url("../../../assets/img/fondo_basico.jpg");
        background-color: #142236;
        overflow-x: hidden;
}
.contieneImagen{
        width: 100%;
}
.imagen{
        position: absolute;
        margin-top: 20%;
        height: 45%;
        margin-left: -9%;
        margin-top: 24.8%;
}
button{
        width: 10rem;
        height: 6.5vh;
        font-size: var(--sizeCommonBody2);
        font-family: var(--fontRevxMedium);
        border: transparent;
        border-radius: 2px;
        box-shadow: 5px 1px 5px rgb(14, 14, 14, 0.5);
}
button:hover{
        cursor: pointer;
}

.boton1 > p {
        color: #CE0037;
}
.boton1Azul > p {
                color:#102A42;
}
.card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.8vh;
        width: 45em;
        margin-top: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.equipo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.3vh;
}
.circulo{
        height: 24vh;
        width: 24vh;
        background-color: #123D66;
        border-radius: 50%;
        background-image: url("../../../assets/img/warriors.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
}
.circulo2{
        height: 24vh;
        width: 24vh;
        background-color: #123D66;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
.nombreEquipo{
        font-family: var(--fontTitulos);
        font-size: var(--sizeTitulos);
        text-transform: uppercase;
}
.capitan{
        font-size: var(--sizeCommonBody2);
}
.nombre{
        background-color: #123D66;
        border-radius: 2px;
        padding:0.1vh;
        padding-left: 1vh;
        padding-right: 1vh;
        margin-top: -0.5;
}
.botones{
        display: flex;
        gap: 1vw;
}
.boton2{
        background: var(--colorGrisFormularios);
        color: white;
        border: transparent;
}
.info{
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 3vh;
        width: 45vw;
}     
.tipo{     
        border-radius: 2px;
        margin-bottom: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        background-color: white;
        height: 1.7em;
        width: 6em;
        font-size: var(--sizeDesktopHeading2);
        font-family: var(--fontRevxBold);
        font-weight: 800;
        box-shadow: 5px 5px 15px rgb(14, 14, 14, 0.5);
}
.ranked > .tipo > p{
        background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
.amistosa > .tipo > p{
        background: -webkit-linear-gradient(180deg, #123D66 0%, #102A42 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
.ranked >.descripcion{
        color: var(--white);
        background: var(--colorRojoGradiente);
        box-shadow: 5px 5px 15px rgb(14, 14, 14, 0.5);
        border-radius: 4px;  
        width: 100%;
        height: 22vw;  
}
.amistosa >.descripcion{
        color: var(--colorAzulPrimario);
        background: var(--colorAzulPrimarioGradient);
        box-shadow: 5px 5px 15px rgb(14, 14, 14, 0.5);
        border-radius: 4px;  
        width: 100%;
        height: 22vw;  
}
p{
        margin-top: 2%; 
}
.descripcion{
        padding: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: var(--sizeCommonSubtitle);
        text-align: center;
        font-family: var(--fontRevxMedium);
        height: 9vh;
        gap: 4vw;
}
.amistoso{
        background-color: #CE0037;
}  
.modalCancelar{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px green;
        position: absolute;
        height: 100vh;
        width:  100vw;
        z-index: 4;
}
.mensaje{
        margin-top: 6vw;
        display: flex;
        gap: 1vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
        position: absolute;
        z-index: 2;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.titulo{
        font-family: var(--fontRevxBold);
        color: var(--colorAzulOscuroPrimario);
        font-size: var(--sizeDesktopHeading2);
}
.texto{
        width: 80%;
        font-family: var(--fontRevxMedium);
        color: var(--colorAzulOscuroPrimario);
}
.botonC{
        background: var(--colorGrisFormularios);
}
.botonD{
        color: var(--colorAzulPrimario);
}
.infoModal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vw;
        border-radius: 4px;
        height: 60%;
        width: 100%;
        background:var(--colorBlancoGradient);

}
.fondo{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
}
.enCurso{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        padding: 9vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 40px rgb(14, 14, 14, 0.8);
        z-index: 51;
}
.modalEnCurso{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
        height: 30vh;
        width: 60vw;
        padding: 9vh;
        border-radius: 4px;
        position: absolute;
        background: rgb(195,195,195);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,6) 50%, rgb(255, 255, 255,0) 100%);
        box-shadow: 0px 0px 40px rgb(14, 14, 14, 0.8);
}
.partida{
        color: white;
        font-size: var(--sizeDesktopHeading2);
        font-family: var(--fontRevxBold);
        text-shadow: 5px 5px 15px rgb(14, 14, 14, 0.5);
}
.explica{
        color: white;
        font-size: var(--sizeCommonBody2);
        font-family: var(--fontRevxMedium);
        text-align: center;
        text-shadow: 5px 5px 15px rgb(14, 14, 14, 0.9);
}
a:link,:visited,:hover,:active{
        text-decoration: none;
}
