<div class="Padre">
        <div class="parteSuperior">
            <div class="logo">
                <img src="../../../../assets/img/logo_blac.png">
            </div>
            <div class="botones">
                <div> 
                    <button class="login" routerLink="../login">
                        <p class="letrasLogin">Login</p>
                    </button>
                </div>
                <div>
                    <button class="registro" routerLink="../registro" >
                        <p class="letrasReg">Registro</p>
                    </button>
                </div>
                
            </div>
            
        </div>
        <div class="parteMedia">
            <p class="titular">TEAM FINDER</p>
        </div>
        <div class="parteInferior">
            <div class="contenido">
                <img class="eslogan" src="../../../../assets/img/loldes.png">
            </div>
        </div>
    </div>    