.Padre{
        height: 100vh;
        width: 100vw;
        background-image: url(../../../assets/img/fondo_landing.png),url(../../../assets/img/opacidad.png),url(../../../assets/img/opacidad_arriba.png),url(../../../assets/img/opacidad_arriba.png);
        opacity: 1;
        background-size: 100%;
        justify-items: center;
    }
    .parteSuperior{
        flex-direction:row;
        display: flex;
        height: 20.5%;
        justify-content: space-between
    }
    .parteMedia{
        text-align: center;
        height: 45%;
    }
    .parteInferior{
        height: 26.7%;
    }
    .logo{
        
        margin-top: 20px;
        margin-left: 10%;
    }
    .botones{   
        margin-right: 10%;  
        margin-top: 3%;   
        border: none;
        width: 30%;
        flex-direction:row;
        display: flex;
        justify-content: center;
        margin-left: 60%;
    }
    .login{
        width: 149px;
        height: 45px;  
        background: #FFFFFF;
        border: none;
        border-radius: 4px;
        margin-right: 15px;
    }
    .letrasLogin{
        font-family: var(--fontRevxMedium);
        color: black;
        font-style: normal;
        align-items: center;
        text-align: center;
        font-size: var(--sizeCommonLabel);
    }
    .registro{
    width: 149px;
    height: 45px;
    background: #1D2831;
    border: none;
    border-radius: 4px;
    }
    .letrasReg{   
    font-family: var(--fontRevxMedium);
    font-style: normal;
    align-items: center;
    text-align: center;
    font-size: var(--sizeCommonLabel);
    }
    .titular{
        font-family: var(--fontTitulos);
        font-size: 281px;
        text-shadow: var(--sombraStrongPlus)
    }
    .contenido{
        position: relative;
        margin-left: 19%;
    }
    .eslogan{
        margin-top: 2%;
    }
    