.detalles-torneo-container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        /* background: -webkit-linear-gradient(0deg, rgba(29, 40, 49, 0.96) 41.88%, rgba(10, 14, 18, 0.65) 100.88%); */
        background-blend-mode: color-dodge;
        overflow: hidden;
}
.imagen-de-fondo {
        background: url(../../../assets/img/fondo_basico.jpg);
        background-size: 100%;
}

.left-container {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 60%;
        margin-top: 10%;
        margin-left: 10%;
}
.resultados-anteriores {
        display: flex;
        flex-direction: column;
        height: 45%;
}
.top-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: var(--fontRevxRegular);
        font-size: var(--sizeDesktopHeading3);
        text-shadow: var(--sombraStrongPlus);
}
.top-heading-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: var(--fontRevxRegular);
        font-size: var(--sizeDesktopHeading3);
        text-shadow: var(--sombraStrongPlus);
        margin-bottom: 11px;
}

.fecha-top-heading {
        font-size: var(--sizeCommonSubtitle);
}
.carrousel-partidos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        max-height: 238px;
        padding: 11px 0;
        margin-bottom: 8px;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        box-shadow:  2px -0px 0px  rgb(0,0,0,0.3);
}
.carrousel-partidos::-webkit-scrollbar {
        display: none; /*chrome*/
      }
.card-partida-ganada {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 185px;
        max-width: 190px;
        height: 192px;
        margin: 0 13px;
        padding: 14px 14px 0 16px;
        background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
        border-radius: 4px;
        box-shadow: var(--sombraStrongPlus);
}
.card-partida-perdida {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 185px;
        max-width: 190px;
        height: 192px;
        margin: 0 13px;
        padding: 14px 14px 0 16px;
        background: -webkit-linear-gradient(-90deg, #1D2831 0%, #0A0E12 100%);
        border-radius: 4px;
        box-shadow: var(--sombraStrongPlus);
        
}
.estado-partida {
        font-family: var(--fontRevxRegular);
        font-size: var(--sizeDesktopHeading4);
        text-shadow: var(--sombraStrongPlus);
}
.resultado-partida {
        display: flex;
        flex-direction: column;
}
.resultado-partida-equipo-ganador {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
}
.resultado-partida-equipo-perdedor {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding-right: 10%;
} 
.resultado-partida-equipos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
}
.equipo-ganador {
        margin-left: 100%;
        margin-top: 5px;
}
.equipo-ganador > img {
        width: auto;
        height: 15px;
}
.nombre-equipo {
        font-family: var(--fontRevxRegular);
        font-size: var(--sizeCommonBody2);
}
.puntos-equipo {
        font-family: var(--fontRevxRegular);
        font-size: var(--sizeDesktopHeading4);
}
.proximo-partido {
        height: 30%;
        padding: 0 0 0 0;
}
.proximo-partido-display {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 160px;
        min-width: 695px; 
        border-radius: 4px;
        background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
        box-shadow: var(--sombraStrongPlus);
}
.proximo-partido-display > h1 {
        margin-left: 20px;
        font-family: var(--fontTitulos);
        font-size: var(--sizeDisplay);
        font-weight: 400;
        text-transform: uppercase;
}

.right-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 0;
        right: 0;
        width: 300px;
        height: 85%;
        margin-left: 6%;
        border-radius: 8px 0 0 0;
        background-color: var(--colorAzulSecundario);
        opacity: 90%;
}
.top-heading-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: var(--fontRevxBold);
        font-size: var(--sizeDesktopHeading3);
        padding: 0 0 25% 10%;
}
.bottom-container-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40%;
        width: 80%;
        background-color: var(--colorAzulPrimario);
        border-radius: 4px;
}
.usuario {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        margin-bottom: 11px;
        gap: 10%;
}
.foto-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: rebeccapurple;
        overflow: hidden;
        
}
.foto-perfil > img {
        width: auto;
        height: 100%;
}
.nombre-usuario {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--fontRevxRegular);
        font-size: var(--sizeCommonBody1);
        text-decoration-line: underline;
}

.datos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 70%;
        width: 60%;
        background-color: var(--colorAzulSecundario);
        font-family: var(--fontRevxRegular);
        border-radius: 4px;
}
.top-datos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
}
.mid-datos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}
.bottom-datos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}
.datos-titulo {
        font-size: var(--sizeCommonCaptionDefault);
}
.datos-stats {
        font-size: var(--sizeCommonSubtitle);
}

.flechas {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        
}
.flecha-izq {
        position: absolute;
        display:flex;
        width: 7.5%;
        z-index: 1;
        transform: scaleX(-1);
        left: 40%;
}
.flecha-der {
        position: absolute;
        display:flex;
        width: 7.5%;
        z-index: 1;
        right: 40%;
}