<main>
    <header>
        <div class="padre">
            <div class="contenidoHeader">
                <a>
                    <img src="../../assets/img/logo.png.png" class="logo">
                </a>
                <div class="letrasHeader">
                    <p id="tool">HERRAMIENTA DE ADMINISTRACIÓN</p>
                </div>
                <div class="colocarImagenPerfil" on-click="cambiarPass(true)" >
                    <img src="../../assets/img/admin-modified.png" class="iconoPerfil">
                    <p id="adminText">Manager</p>

                </div>
            </div>
            <hr class="lineaSeparadora">
        </div>
    </header>

    <!------------------------------------------------------------------------------------>


    <div id="containerBigger">
        <div id="containerBig">

            <div id="containerSearch">

                <div class=search>
                    <input type="text" placeholder=" &nbsp;&nbsp; Buscar torneo">
                </div>
                <div id="containerButtons">
                    <div id="gameButtons">
                        <button id="lolButton" class="buttonLogo"><img src="" alt=""></button>
                        <button id="valButton" class="buttonLogo"><img src="" alt=""></button>
                        <button id="tftButton" class="buttonLogo"><img src="" alt=""></button>
                    </div>
                </div>
            </div>


            <div id="tournamentBar">
                <div id="date">
                    <!-- fecha -->
                    10-15 Nov
                </div>


                <div id="info">
                    <div id="data">
                        <div id="name">
                            Pretorians of the Tomb
                        </div>
                        <div id="teamsAndTier">
                            Equipos: 20 | Tier 4
                        </div>
                        <div id="buttons">
                            <button id="newsButton">Noticia</button>
                            <button id="accessButton">Acceder</button>
                        </div>
                    </div>
                </div>

                <div id="gameLogo">
                    <img id=gameLogoBar src="../../../assets/img/iconos_esports_lol.svg">
                </div>

            </div>
        </div>
    </div>



    <!------------------------------------------------------------------------------------>
    <div id="containerButton" routerLink="../admin-create">
        <button id="createTournamentButton"> Crear Torneo </button>
    </div>

        <!-----------------------------Cambiar pass------------------------------------->
        <div *ngIf="this.pass==true">
            <div class="fondo" on-click="cambiarPass(false)" ></div>
            <div class="mensaje">
                <h2>Cambia tus datos</h2>
                <div>
                    <div class="datos">
                        <label for="nombre">Nombre</label>
                        <input  class="input" type="text" name="nombre" id="nombre" placeholder="Cambiar nombre">
                    </div>
                    <div class="datos">
                        <label for="pass">Nueva contraseña</label>
                        <input class="input" type="text" name="pass" id="pass" placeholder="Introduce tu nueva contraseña">
                    </div>
                    <div class="datos">
                        <label for="pass2">Confirma contraseña</label>
                        <input class="input" type="text" name="pass2" id="pass2" placeholder="Confirma tu nueva contraseña">
                    </div>
                </div>
                <button class="boton" on-click="cambiarPass(false)">Aplicar</button>
            </div>
        </div>
</main>