a:hover,button:hover{
    cursor: pointer;
}
button{
    box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.4) ;
}
/*******************************************HEADER************************************************/
.padre{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15.9%;
    left: 0px;
    top: 0px;
    background-color: transparent;
}

.contenidoHeader{
    position: fixed;
    height: 11%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.lineaSeparadora{
    margin-top: 8%;
    width: 57%;
    height: 1px;
    background-color: #ffffff;
}

.nombreUser{
    position: relative;
    font-family: Revx Neue;
    color: #FFFFFF;
}
#tool{
    font-size: var(--sizeDesktopHeading1);
    font-family: var(--fontTitulos);
    text-shadow: 5px 1px 5px rgb(14, 14, 14, 0.5);
}
#adminText{
    font-family: var(--fontRevxMedium);
    margin-left: -15%;
}
/************************************PRINCIPAL*****************************************************************/

main{

    height: 100vh;
    background-image: url(../../../assets/img/fondo_admin.png);
    background-size: 100%;
}
header{
    height: 15%;
}

#containerBigger{
    margin-top: 1%;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow: scroll; */
}

#containerBig{
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    width: 56.8%;
    height: 100%;
    background-color: var(--colorAzulOscuroPrimario);
    overflow: scroll;
    overflow-x: hidden;
    gap: 1%;
    padding-top: 13vh;
    
}

/***********************BUSCADOR E ICONOS*****************************/

#containerSearch{
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 56vw;
    align-items: center;
    gap: 4%;
    position: absolute;
    z-index: 2;
    background-color: var(--colorAzulOscuroPrimario);
    top: 19vh;

}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    height: 100%;
    width: 100%;
    margin-left: 8%;
    
    /* border: solid 1px white */
}
.search >input{
    outline: none;
    width: 100%;
    height: 50%;
    margin-left: 12%;
    border-radius: 4px;
    border: 0;
    text-align: center;
    color: var(--colorAzulOscuroPrimario);
    font-family: var(--fontRevxMedium);
    font-weight: 600;
    background-image: url('../../../assets/img/search.svg');
    background-position:1vw;
    background-size: 3vh;
    background-repeat:no-repeat;
    
}


 input::placeholder{

    font-family: var(--fontRevxMedium);
    font-weight: 600;

}

#containerButtons{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: solid 1px black; */

}

#gameButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    gap: 2%;
    margin-left: 40%;
    
}

.buttonLogo{
    height: 60%;
    width: 20%;
    border: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    
}
#lolButton{
    background-image: url(../../../assets/img/iconos-esports-01.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#valButton{
    background-image: url(../../../assets/img/iconos-esports-02.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#tftButton{
    background-image: url(../../../assets/img/iconos-esports-03.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/************** BARRAS DE TORNEO **********************/

#tournamentBar{
    width: 100%;
    min-height: 14%;
    display: flex;
    
    
    /* border: solid 1px white; */

}
#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: solid 1px white; */


}
#date{
    
    width: 14%;
    height: 75%;
    margin-top: 0.6%;
    background-color: white;
    color: var(--colorRojoPrimario);
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-left: 1%;
    margin-left: 1.5%;
    margin-right: 0.5%;
    font-family:var(--fontRevxMedium);
    font-weight: 600;
    /* font-size: small; */
    border-radius: 2px;

}
#data{
    /* border: solid 1px white; */
   
    width: 45vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:var(--fontRevxMedium);
    gap: 1%;
    font-weight: 600;
    border-radius: 4px;
    
    
}
.special{
    background-color: var(--colorRojoPrimario);
}
.normal{
    background-color: var(--colorAzulPrimario);
}

#name{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family:var(--fontRevxMedium);
    font-size: var(--sizeCommonSubtitle);
}

#teamsAndTier{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.363);
   border-radius: 4px;  
}

#buttons{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2vw;
    
}

#newsButton,#accessButton{
width: 4vw;
height: 80%;
border: 0;
border-radius: 4px;
background-color: black;
color: white;
font-family: var(--fontRevxMedium);
}

#accessButton{
    background-color: white;
    color: var(--colorAzulPrimario);
}

#gameLogo{
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gameLogoBar{ 
    height: 80%;
}
.colocarImagenPerfil{
    cursor: pointer;
}
/*************** BOTON CREAR **************************/

#containerButton{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.8%;
    width: 100%;
    height: 8%;
   
}
#createTournamentButton{
    cursor: pointer;
    width: 13%;
    color: white;
    background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
    box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.4) ;
    border: 0;
    border-radius: 4px;
    font-family: var(--fontRevxMedium);
    font-weight: 400;
    font-size: var(--sizeCommonSubtitle);
}



::-webkit-scrollbar {
    display: none;
}



    /* pendiente html
<div class="barrita"></div> */

/* 
pendiente scroll

.barrita{
    margin-top: 0.5vw ;
    border-radius: 50px;
    position: fixed;
    height: 19vw;
    background-color: #242424;
    width: 0.8vw;
    margin-left: 48.86vw;
}



/* width */
/* ::-webkit-scrollbar {
    width: 0.5vw;
    border: solid 2px #242424; 
/* Track */
/* ::-webkit-scrollbar-track {
    background-color: #242424;
    border-radius: 10px;
}       */
  /* Handle */
/* ::-webkit-scrollbar-thumb {
    background: var(--colorGrisGradient); 
    border-radius: 10px;
} */
  
  /* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: var(--colorGrisGradient); 
} */
/* **************MODAL************ */

.modal{
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: transparent;
    display: block;
}

.fondo{
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    opacity: 0.6;
    background-color: black;
    display: block;
}
.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 60%;
    position: absolute;
    z-index: 1;
    width: 25%;
    top: 20%;
    left: 37.5%;
    background: var(--colorAzulPrimarioGradient);
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.363);
}
h2{
    font-family:var(--fontRevxBold);
}
.datos{
    font-family: var(--fontRevxMedium);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    width: 100%;

}
label{
    font-size: var(--sizeCommonSubtitle);
    margin-bottom: -0.1vw;
}
.input{
    width: 19vw;
    height: 2.5vw;
    border-radius: 3px;
    border: none;
    padding-left: 1vw;
    font-family: var(--fontRevxMedium);
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.363); */
}
.boton{
    cursor: pointer;
    border: none;
    height: 3vw;
    width: 6vw;
    border-radius: 4px;
    background: var(--colorRojoGradiente);
    font-family: var(--fontRevxMedium);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.363);
}
.boton:active{
    border: none;
}

.normal{
background-color: var(--colorAzulPrimario)
}
.Special{
    background-color: var(--colorRojoPrimario);
}
