<main>
    <header>
        <div class="padre">
            <div class="contenidoHeader">
                <a href="home">
                    <img src="../../assets/img/logo.png.png" class="logo">
                </a>
                <div class="letrasHeader">
                    <p id="tool">HERRAMIENTA DE ADMINISTRACIÓN</p>
                </div>
                <div class="colocarImagenPerfil">
                    <img src="../../assets/img/admin-modified.png" class="iconoPerfil">
                    <p id="adminText">Admin</p>

                </div>
            </div>
            <hr class="lineaSeparadora">
        </div>
    </header>

    <!------------------------------------------------------------------------------------>


    <div id="containerBigger">
        <div id="containerBig">

            <div id="containerSearch">

                <div id=search>
                    <input type="text" placeholder=" &nbsp;&nbsp; Buscar torneo">
                </div>
                <div id="containerButtons">
                    <div id="gameButtons">
                        <button id="lolButton" class="buttonLogo"><img src="" alt=""></button>
                        <button id="valButton" class="buttonLogo"><img src="" alt=""></button>
                        <button id="tftButton" class="buttonLogo"><img src="" alt=""></button>
                    </div>
                </div>
            </div>


            <div id="tournamentBar">
                <div id="date">
                    <!-- fecha -->
                    <p>10-15 Nov</p>   
                </div>


                <div id="info">
                    <div id="data">
                        <div id="name">
                            Pretorians of the Tomb
                        </div>
                        <div id="teamsAndTier">
                            Equipos: 20 | Tier 4
                        </div>
                        <div id="buttons">
                            <button id="newsButton">Noticia</button>
                            <button id="accessButton">Acceder</button>
                        </div>
                    </div>
                </div>

                <div id="gameLogo">
                    <img id=gameLogoBar src="../../../assets/img/iconos_esports_lol.svg">
                </div>

            </div>
        </div>
    </div>



    <!------------------------------------------------------------------------------------>
    <div id="containerButton" routerLink="../admin-create">
        <button id="createTournamentButton"> Crear Torneo </button>
    </div>
</main>