.padre{
    background-image:url(../../../../assets/img/fondo_tristane.jpg),url(../../../../assets/img/fondo_basico.jpg);
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    justify-items: center;
}

.parteArriba{
    /* flex-direction:row;
    display: flex; */
    height: 20.5%;
    /* justify-content: space-between; */
    border: 12px black;
   margin-left: 5%;
   padding-top: 2%;
}

.logo{
    height: 80px;
}
.media{
    margin-top: 0%;
        text-align: center;
        height: 45%;
}
.login{
    font-family: var(--fontRevxBlack);
    font-size: var(--sizeGrande);
}
.inputs{
    margin-top: 5%;
    font-family: Revx Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;



}
.user{
    position: relative;
    padding-left: 12px;
    margin-bottom: 1px;
}

.userCaja{
    width: 190px;
    font-family: var(--fontRevxMedium);
    font-size: var(--sizeCommonSubtitle);
    color: black;
}

.datosArriba{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 9.9%;
    
}
.circulo{
        margin-top: 5px;
        width: 12px;
        height: 12px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #CE0037;
        padding-left: 19%;
        
}
.circuloGrande{
    margin-left: 1px;
}
.placeholder{
    margin-right: 10px;
}
.contraseña{
    position: relative;
    padding-left: 20px;
    margin-bottom: 1px;
}
.datosAbajo
{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5.5%;
}
.bot{
    margin-top: 10%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}
.letras{
  justify-content: center;
  font-family: var(--fontRevxRegular);
  height: 50%;
  width: 50%;
}
.boton{
padding-left: 15%;   


}

    


.registro{
    
    width: 100px;
    height: 48px;
    background: #f50505;
    border-radius: 2px;
    font-family: var(--fontRevxMedium);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4%;

}
.botonDesactivado{
 
    width: 100px;
    height: 48px;
    background: #CAD2DA;
    border-radius: 2px;
    font-family: var(--fontRevxMedium);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4%;
    

}



