.padre{
    background-image:url(../../../assets/img/fondo_reg.png);
    height: 100vh;
    background-size: 100%;
    width: 100vw;
}
.logo{
    width: 4.5vw;
    margin-left: 5.5%;
    margin-top: 1.5%;
}
.parteMadia{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.titulo{
   margin-top: 4%;
   margin-right: 20%;
   justify-content: center;
   text-align: center;
    
}
.title{
    font-family: var(--fontRevxBold);
    font-size: var(--sizeDesktopHeading2);
    color: #FFFFFF;
}
.nombres{
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    text-shadow: 1px 2px 4px rgb(0, 0, 0, 0.8);
}
.user{
    margin-left: 20%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.circulo{
    margin-top: 4px;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #CE0037;
    margin-left:1%;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.8);
        
}
.email{
    padding-left: 13.5%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.cajas1{
    margin-top: 1vw;
    display: flex;
    gap: 4vw;
    margin-left: 22vw;
    width: fit-content;
}
.cajaUser{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
/* .cajaEmail{
    margin-left: 4.5%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-top: 1%;
} */
.pass{
    margin-left: 20%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.cajaPass{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.pass2{
    margin-left: 9.3%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
/* .cajaPass2{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-left: 4.5%;
    margin-top: 1%;
} */
.parteInferior{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.letras{
    text-align: center;
    font-family: var(--fontRevxRegular);
    height: 50%;
    width: 50%;
    margin-top: 1%;
    margin-right: 30%;
    padding-left: 10%;
}
.boton{
    margin-top: 1%;
}
.registro{
    
    width: 100px;
    height: 48px;
    background: #f50505;
    font-family: var(--fontRevxMedium);
    font-size: var(--sizeCommonBody2);
    color: #FFFFFF;
    border-radius: 4%;

}
.botonDesactivado{
 
    width: 100px;
    height: 48px;
    background: #CAD2DA;
    border-radius: 2px;
    font-family: var(--fontRevxMedium);
    font-size: var(--sizeCommonBody2);
    color: #FFFFFF;
    border-radius: 4%;
}
input{
    height: 2.5vw;
    box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.3);
    border-radius: 4px;
    border: solid 2px #CAD2DA;
    padding-left: 1.5vw;
}
input::placeholder{
    font-size: var(--sizeCommonBody2);

}