input{ /* arreglado*/
    padding-left: 1.5vw;
    border: none;
    outline: none;
}

.padre{
    background-image:url(../../../assets/img/fondo_reg.png);
    height: 100vh;
    background-size: 100%;
    width: 100%;
    overflow: hidden;
}
.logo{
width: 72px;
height: 76.11px;
margin-left: 5%;
margin-top: 2%;
}
.parteMadia{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.titulo{
   margin-top: 4%;
   margin-right: 20%;
   justify-content: center;
   text-align: center;
    
}
.title{
font-family: var(--fontRevxBold);
font-size: var(--sizeDesktopHeading2);
font-weight: 900;
color: #FFFFFF;
}
.nombres{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.user{
    margin-left: 13.5%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.circulo{
    margin-top: 4px;
        width: 12px;
        height: 12px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #CE0037;
        margin-left:1%;
        
}
.email{
    padding-left: 16.5%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.cajas1{
    margin-left: 13.5%;

    
}
.cajaUser{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    color: black;
    height: 50px;
    width: 17vw;
    border-radius: 4px;
}
.cajaEmail{
    margin-left: 4.4%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    color: black;
    margin-top: 1%;
    height: 50px;
    width: 17vw;
    border-radius: 4px;
}
.pass{
    margin-left: 13.5%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.cajaPass{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    color: black;
    border-radius: 5px;
    height: 50px;
    width: 17vw;
    

}
.pass2{
    margin-left: 12.5%;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
}
.cajaPass2{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    color: black;
    margin-left: 4.5%;
    margin-top: 1%;
    border-radius: 5px;
    height: 50px;
    width: 17vw;
}
.parteInferior{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.letras{
text-align: center;
  font-family: var(--fontRevxRegular);
  height: 50%;
  width: 50%;
  margin-right: 30%;
}

.registro{
    
    width: 100px;
    height: 48px;
    background :#CE0037;
    font-family: var(--fontRevxMedium);
    font-size: var(--sizeCommonBody2);
    color: #FFFFFF;
    border-radius: 4%;

}
#comprobacion{
    /* margin-top: -2%; */
    height: fit-content;
    border: solid 1px white;
}
.boton{ /*Arreglado*/
    border: 0;
    background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
    font-family: var();
}

.botonDesactivado{
 
    width: 100px;
    height: 48px;
    background: #CAD2DA;
    border-radius: 2px;
    font-family: var(--fontRevxMedium);
    font-size: var(--sizeCommonBody2);
    color: #FFFFFF;
    border-radius: 4px; /*Arreglado*/
}

.regresoLogin{
    margin-left: 22%;
    background-color: #560505;
    height: 25px;
    width: 250px;
    margin-top: 2%;
    border-radius: 4px;
}
.cozas{
    margin-left: 5%;
    font-size: var(--sizeCommonCaptionDefault);
    font-family: var(--fontRevxRegular);
    padding-top: 2%;
    
}
.cozasLogin{
    font-size: var(--sizeCommonCaptionDefault);
    font-family: var(--sizeCommonCaptionDefault);
}