<main>
    <header></header>
    <div id="containerTexts">
        <div id="containerRosterText">
            Rooster
        </div>
        <div id="containerProfileText">
            Perfil
        </div>
    </div>

    <div id="containerBig">
 
    <div id="containerProfile">
        <img id="logo" src="../../../assets/img/logo_blanco.png" alt="logo" width="30%" height="30%">
        <p>Imagen</p>
        <input type="text" placeholder="   Url de la imagen">
        <p>Nombre del equipo</p>
        <input type="text" placeholder="  Introduce el nombre">
    </div>
   
    <div id="containerRoster">
        <!-- <p>Jugadores (N de 10 max) </p> -->
        <br>



         <!--Dropdown pendiente-->
        <div class="dropdown">

            <button class="boton">
               <p id="actualPlayers"> Jugadores: 5 de 10</p> 
            </button>
            <div class="dropdown-content">
                <p class="names">PlayerName1 <button class="x">X</button></p>
                <p class="names">PlayerName2 <button class="x">X</button></p>
                <p class="names">PlayerName3 <button class="x">X</button></p>
                <p class="names">PlayerName4 <button class="x">X</button></p>
                <p class="names">PlayerName5 <button class="x">X</button></p>

                
    
                
            </div>
        </div>

        
        <p id="addPlayer">Añadir jugador</p>
        <input id="player" type="text" placeholder="@ del jugador">

        <p id="lfp">¿Estais buscando jugadores?</p>
        <div id="buttons">
            <button id="yesButton">Sí</button>
            <button id="noButton">No</button>
        </div>
    </div>
</div>
<div id="containerCreateButton">   
    <div id="createButton"> CREAR </div>
</div>


</main>