<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/garen.png" alt="Garen">
        </div>
        <div class="contenedor">
                <div class="titulo" >
                        <p class="scrim">EQUIPOS</p>
                </div>
                <div class="descripcion">
                        <div class="arriba">
                                <input class="buscar" #buscar placeholder="Buscar por nombre">
                                <div class ="botonBuscar" on-click="busqueda(buscar.value)" >Buscar</div>
                                <!-- <div class="filtrar">
                                        <p class="filtro">Filtrar</p>
                                        <img class="img" src="../../../assets/img/filter_blanco.svg" alt="filter">
                                </div> -->
                        </div>
                        <div class="equipos">
                                <div class="lista">
                                        <div class="etiquetaEquipo" *ngFor="let equipo of this.ServicioEquipos.listaEquipos let i=index">
                                                <div class="informacion"  on-click ="llevar(i)">
                                                        <div class="ranking">
                                                                <div class="rank">Server</div> 
                                                                <div class="numeroRank">{{equipo.servidor}}</div> 
                                                                <div class="numeroRank linea">|</div>   
                                                        </div>
                                                        <div class="nick">
                                                                <div class="nombre">{{equipo.nombre_equipo}}</div> 
                                                        </div> 
                                                </div>
                                                <div class="botones">

                                                                <button *ngIf="this.admin == true" class="conectar" on-click="conectar(i)">Conectar</button>

                                                                <button *ngIf="this.tieneEquipo == false"class="unirse" on-click="unirse(i)">Unirse</button>
                                                </div>             
                                        </div>
                                </div>
                                <div class="barrita"></div> 
                        </div>
                </div>
        </div>
</div>
