<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/garen.png" alt="Garen">
        </div>
        <div class="contenedor">
                <div class="titulo" >
                        <p class="scrim">EQUIPOS</p>
                </div>
                <div class="descripcion">
                        <div class="arriba">
                                <input class="buscar" placeholder="Buscar por nombre" >
                                <!-- <div class="filtrar">
                                        <p class="filtro">Filtrar</p>
                                        <img class="img" src="../../../assets/img/filter_blanco.svg" alt="filter">
                                </div> -->
                        </div>
                        <div class="equipos">
                                <div class="lista">
                                        <div class="etiquetaEquipo" *ngFor="let equipo of this.ServicioEquipos.listaEquipos let i=index">
                                                <div class="informacion"  on-click ="llevar(i)">
                                                        <div class="rank">Rank</div>  
                                                        <div class="numeroRank">222</div> 
                                                        <div class="numeroRank linea">|</div>   
                                                        <div class="nombre">{{equipo.nombre_equipo}}</div>  
                                                </div>
                                                <div class="botones">

                                                                <button *ngIf="this.admin == true" class="conectar" (click)="showToastr('Recibirás una alerta con la respuesta del equipo','Solicitud de conexión enviada')">Conectar</button>

                                                                <button *ngIf="this.tieneEquipo == false"class="unirse" (click)="showToastr('Recibirás una alerta con la respuesta del equipo','Solicitud de unión enviada')">Unirse</button>
                                                </div>             
                                        </div>
                                </div>
                                <div class="barrita"></div> 
                        </div>
                </div>
        </div>
</div>
