.padre{
        display: flex;
        flex-direction: column;
        align-items: center;    
        background-size: 100%;
        height: 100vh;
        background-image: url("../../../assets/img/fondo_basico.jpg");
        background-color: #142236;
        overflow: hidden;
}
.contieneImagen{
        width: 100%;
}
.imagen{
        position: absolute;
        height: 42vw;
        margin-left: 0vw;
        margin-top: 7vw;
        z-index: 0;
}
.titulo{
        display: flex;
        width: fit-content;
                flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 3px var(--colorRojoPrimario);
        font-size: var(--sizeDisplay);
        margin-top: 10vw;
        height: fit-content;
        font-family: var(--fontTitulos);
        border-radius: 1px;
        padding: 0% 3% 0% 3.3%;
        color: rgb(255, 255, 255);
        text-shadow: 5px 1px 5px rgb(14, 14, 14, 0.5);
}
.descripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--colorAzulPrimario);
        background: var(--colorGrisGradient);
        box-shadow: 5px 5px 15px rgb(14, 14, 14, 0.5);
        border-radius: 4px;  
        width: 55vw;
        height: 26vw;
}
.contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
}
.arriba{
        height: 6vh;
        width: 46vw;
        display: flex;
        justify-content: space-between;
}
.buscar{
        padding-top: 0.1em;
        height: 100%;
        width: 65%;
        color: var(--colorAzulOscuroPrimario);
        font-size: var(--sizeCommonBody2);
        font-family: var(--fontRevxMedium);
        background-color: white;
        border-radius: 6px;
        border: none;
        background-image: url('../../../assets/img/search.svg');
        background-position:1vw;
        background-size: 4vh;
        background-repeat:no-repeat;
        padding-left: 3.5vw;
        outline: none
}
.filtrar{
        height: 100%;
        width: 8vw;
        background-color: var(--colorAzulPrimario);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        box-shadow: 1px 0px 4px rgb(14, 14, 14, 0.5);
}
.filtrar:hover{
        cursor: pointer;
}
.filtro{
        color: white;
        font-family: var(--fontRevxMedium);
        font-size: var(--sizeCommonBody2);
}
.img{
        margin-top: 1vh;
        height: 2vw;
}
input::placeholder{
        font-size: var(--sizeCommonCaptionDefault);
        text-decoration: underline;
        font-family: var(--fontRevxMedium);
        opacity: 0.8;
}
input:focus, :active :checked,:enabled{
        border: none;   
}
.equipos{
        display: flex;
        margin-top: 2vh;
        border-radius: 4px;
        color: var(--colorAzulPrimario);
        background: rgba(82, 82, 82, 0.5);
        width: 51vw;
        height: 20vw;
}
.barrita{
        margin-top: 0.5vw ;
        border-radius: 50px;
        position: fixed;
        height: 19vw;
        background-color: #242424;
        width: 0.8vw;
        margin-left: 48.86vw;
}
.lista{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4vw;
        position: relative;
        margin-top: 0.8vw;
        padding-left: 1.8vw;
        background: transparent;
        width: 49.5vw;
        height: 18.5vw;
        overflow: scroll;
        overflow-x: hidden;
        z-index: 1;
}
.etiquetaEquipo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2vw;
        gap: 1vw;
        font-family: var(--fontRevxBold);
        width: 47vw;
        height: 3.8vw;
        padding: 0.3vw;
        background-color: var(--colorAzulPrimario);
        border-radius: 0.4vw;
        border: solid 1px white;
        box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.4);
        transition: padding 0.3s;
}
.etiquetaEquipo:hover{
        background-color: rgba(1, 28, 63, 0.8);
        width: 48vw;
        padding: 1vw;
        cursor: pointer;
}
.etiquetaEquipo:active{
        border: solid 1px red;
}
.rank{
        font-size: var(--sizeDesktopHeading4);
}
.numeroRank{
        font-size: var(--sizeCommonBody1);
        margin-top: 0.2vw;
        font-family: var(--fontRevxMedium);
}
.nombre{
        background: -webkit-linear-gradient(-90deg, #FFFFFF 0.14%, #c9c9c9 84.23%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: var(--sizeDesktopHeading3);
        /* text-shadow: 0px 3px 5px rgb(0, 0, 0, 0.4); */
}
.botones{
        margin-left: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--fontRevxMedium);
        font-size: var(--sizeCommonBody1);
        width: 15vw;
        height: 2.5vw;
        border-radius: 0.5vw;
        gap: 1vw;
}
button{
        width: 9vw;
        height: 2.2vw;
        border-radius: 4px;
        box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.4) ;
        padding-top: 0.2vw;
        font-size: var(--sizeCommonBody2);
        font-family: var(--fontRevxMedium);
}
button:hover{
        cursor: pointer;
        width: 9.3vw;
        height: 2.5vw;
}
.conectar{
        color: var(--colorRojoPrimario);
        background: rgb(14, 14, 14, 0.5);
        background: var(--colorBlancoGradient);
}
.unirse{
        color: white;
        background: rgb(14, 14, 14, 0.5);
        background: var(--colorRojoGradiente);
}
a:hover{
        cursor: pointer;
}
a:visited,:link,:active{
        text-decoration-thickness: 0.15vw;
}
/* width */
::-webkit-scrollbar {
        width: 0.5vw;
        /* border: solid 2px #242424; */
}      
/* Track */
::-webkit-scrollbar-track {
        background-color: #242424;
        border-radius: 10px;
}      
      /* Handle */
::-webkit-scrollbar-thumb {
        background: var(--colorGrisGradient); 
        border-radius: 10px;
}
      
      /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        background: var(--colorGrisGradient); 
}