<!-- <nav> -->
    <div class="padre">
        <div class="contenidoHeader">
            <a href="home">
                <img src="../../assets/img/logo.png.png" class="logo" href="/home">
            </a>
            <div class="letrasHeader">
                
                <li><a class="texto" href="/Equipos">Equipos</a></li>
                <div class="dropdown">

                    <button class="boton">
                        <p class="match">Machtmaking</p> 
                    </button>
                    <p> <i class="arrow down"></i></p>

                    <div class="dropdown-content">
                        <a  href="/scrims">Scrims</a>
                        <hr>
                        <a href="/Torneo">Torneos</a>
                    </div>

                </div>
                <li><a class="texto" href="/Ranking">Ranking</a></li>            
            </div>
            <div class="colocarImagenPerfil">
                
                <img src="../../assets/img/iconoPerfil.jpg.png" class="iconoPerfil">
                <p><a class="nombreUser" href="User">Jon Doe</a></p>
                
            </div>
        </div>
        <hr class="lineaSeparadora">
    </div>