<nav>
    <div class="padre">
        <div class="contenidoHeader">
            <a routerLink="home">
                <img src="../../assets/img/logo.png.png" class="logo">
            </a>
            <div class="letrasHeader">
                
                <li><a class="texto" routerLink="equipos">Equipos</a></li>
                <div class="dropdown">

                    <button class="boton">
                        <p class="match">Machtmaking</p> 
                    </button>
                    <p> <i class="arrow down"></i></p>

                    <div class="dropdown-content">
                        <a  routerLink="seleccion-partida">Scrims</a>
                        <hr>
                        <a routerLink ="torneos">Torneos</a>
                    </div>

                </div>
                <li><a class="texto" routerLink="ranking">Ranking</a></li>            
            </div>
            <a class="colocarImagenPerfil" routerLink="home">
                <div class="iconoPerfil" >
                    <div class="foto"></div>
                </div>
                <p class="nombreUser">John Doe</p>
            </a>
        </div>
        <hr class="lineaSeparadora">
    </div>