<!-- <nav> -->
    <div class="padre">
        <div class="contenidoHeader">
            <a routerLink="home">
                <img src="../../assets/img/logo.png.png" class="logo">
            </a>
            <div class="letrasHeader">
                
                <li><a class="texto" routerLink="equipos">EQUIPOS</a></li>
                <div class="dropdown">

                    <button class="boton">
                        <p class="match">MATCHMAKING</p> 
                    </button>
                    <p> <i class="arrow down"></i></p>

                    <div class="dropdown-content">
                        <a  routerLink="seleccion-partida">Scrims</a>
                        <hr>
                        <a routerLink ="torneos">Torneos</a>
                    </div>

                </div>
                <li><a class="texto" routerLink="ranking">RANKING</a></li>            
            </div>
            <div class="colocarImagenPerfil" (click) = "this.ServicioMenu.activar(true)" >
                <div class="iconoPerfil" >
                    <div class="foto"></div>
                </div>
                <p class="nombreUser">{{this.ServicioLogin.nombre}}</p>
            </div>
        </div>
        <hr class="lineaSeparadora">
    </div>
    <!-- <div  id="menu" >
        <div class="equis" (click) = "cerrarMenu(); refresh()" ></div>
        <div class="fondo" ></div>
        <div id = "lateral">
            <app-menu></app-menu>
        </div>
        <div id="alertas">
            <app-alerts></app-alerts>
        </div>
        <div id="chat">
            <app-lista-chats></app-lista-chats>
        </div>

    </div> -->
