main{
    height: 100vh;
    width: 100vw;
    background-image: url(../../../assets/img/6270801.png),url(../../../assets/img/fondo_regcom.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#containerXXL{
    height: 100%;
    width: 100%;
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Oxanium;
}
#containerInfo{
    height: 10%;
    width: 50%;
    /* border: solid 1px green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Oxanium;
    font-size: var(--sizeDesktopHeading2);
    font-weight: 800;
    padding-left: 2.5%;
}
#containerXL{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: row;
    /* border: solid 1px white; */
}


label{
    margin-bottom: 2%;
    font-size: var(--sizeDesktopHeading4);
}
input{
    height: 20%;
    outline: none;
    border-radius: 4px;
    border: 0;
    padding-left: 4%;
    color: black;

}



#containerLeft{
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    /* border: solid 1px rgb(139, 29, 172); */
    justify-content: center;
    align-items: center;
    /* gap: 4% */

}
#leftTop{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    /* border: solid 1px white; */

}
#leftBot{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    /* border: solid 1px white; */

}


#containerMid{
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    /* border: solid 1px rgb(139, 29, 172); */
    justify-content: center;
    align-items: center;
    gap: 4%

}
#midTop{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    /* border: solid 1px white; */

}
#midBot{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    /* border: solid 1px white; */

}


#containerRight{
    height: 100%;
    width: 33.33%;
    display: flex;
    margin-top: 4.8vw;
    flex-direction: column;
    /* border: solid 1px rgb(139, 29, 172); */
    align-items: center;
    text-align: center;
    gap: 5vw;

}
#rightTop{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 5vw;
    /* border: solid 1px white; */

    align-items: center;

}
#rightBot{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:18vw;
    height: 30%;
    /* border: solid 1px white; */
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.4);
    margin-top: 1vw;
    border-radius: 4px;

}
p{
    width: 100%;
}
#url{
    height: 3vw;
    margin-top: 0.5vw;
}

#containerIcons{
    margin-top: 0.5vw;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color:#123D66;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.4);
}
#icons{
    width:18vw;
    height: 100%;
    margin-top: 4%;
}


#next{
    border: 0;
    border-radius: 2px;
    background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
    height: 6vh;
    width: 6vw;
    position: absolute;
    left: 85%;
    top: 85%;
    font-family: Oxanium;
    font-size: var(--sizeCommonBody2);
    cursor: pointer;
}