<main>
    <div id="containerXXL">
        <div id="containerInfo">Completa tu información</div>

        <div id="containerXL">
            <div id="containerLeft">
                <div id="leftTop">
                    <label for="text">Fecha de nacimiento</label>
                    <input type="text" placeholder="dd/mm/aa">
                </div>
                <div id="leftBot">
                    <label for="text">Nacionalidad</label>
                    <input type="text" placeholder="¿De donde eres?">
                </div>

            </div>
            <div id="containerMid">
                <div id="midTop">
                    <label for="text">Idioma</label>
                    <input type="text" placeholder="¿Que idioma hablas?">
                </div>
                <div id="midBot">
                    <label for="text">Descripción</label>
                    <input id="moreInfo" type="text" placeholder="¡Cuéntanos más sobre ti!">
                </div>

            </div>
            <div id="containerRight">
                <div id="rightTop">
                    <p>¡Sube tu icono!</p>
                    <img id="bee" src="../../../assets/img/image_91.png">
                </div>
                <p>Contacto</p>
                <div id="rightBot">

                

                    <div id="containerIcons">
                        <img id="icons" src="../../../assets/img/Group 16.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="containerButton">
            <button id="next" routerLink="../registro-final">Siguiente</button>
        </div>
    </div>

</main>