<main>
    <div id="containerXXL">
        <div id="containerInfo">Completa tu información</div>

        <div id="containerXL">
            <div id="containerLeft">
                <div id="leftTop">
                    <label for="text" >Fecha de nacimiento</label>
                    <input type="text" placeholder="dd/mm/aa" #fecha>
                </div>
                <div id="leftBot">
                    <label for="text">Nacionalidad</label>
                    <input type="text" placeholder="¿De donde eres?">
                </div>

            </div>
            <div id="containerMid">
                <div id="midTop">
                    <label for="text" >Idioma</label>
                    <input type="text" placeholder="¿Que idioma hablas?" #idioma>
                </div>
                <div id="midBot">
                    <label for="text" >Descripción</label>
                    <input id="moreInfo" type="text" placeholder="¡Cuéntanos más sobre ti!" #info>
                </div>

            </div>
            <div id="containerRight">
                <div id="rightTop">
                    <p id="avatar">¡Sube tu avatar!</p>
                    <input id="url" type="text" placeholder="coloca la url" #url>
                </div>

                <div id="rightBot">
                    <p id="contacto">Contacto</p>
                    <div id="containerIcons">
                        <img id="icons" src="../../../assets/img/Group 16.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="containerButton">
            <button id="next" routerLink="../registro-final" on-click="guardar(fecha.value,idioma.value,info.value,url.value)">Siguiente</button>
        </div>
    </div>

</main>