.padre{
    height: 100vh;
    width: 100vw;
    background-size:100%;
    background-image: url(../../../assets/img/fondo_extra.jpg);
}
.logo{
    width: 72px;
height: 76.11px;
margin-left: 5%;
margin-top: 2%;
}
.medio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}
.titulo{
    font-family: var(--fontRevxBold);
    font-size: var(--sizeDesktopHeading2);
    margin-right: 5%;
}
.letrasMitad{
    display: flex;
    flex-direction: row;

}
.tex{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonLabel);
    margin-top: 3%;
    margin-left: 17%;
}
.cajasMitad{
    display: flex;
    flex-direction: row;
}
.fecha{
    margin-left: 17%;
    max-height: 35px;
    margin-top: 3px;
}
.idioma{
    margin-left: 15.5%;
    max-height: 35px;
    margin-top: 3px;
    
}
.abeja{
    margin-left: 15.5%;
    margin-top: 15px;
}
.ultimasLetras{
    display: flex;
    flex-direction: row;

}
.tex2{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonLabel);
    margin-top: 3%;
    margin-left: 21%;

}
.tex3{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonLabel);
    margin-top: 3%;
    margin-left: 20%;
}
.nacionalidad{
    margin-left: 17%;
    max-height: 35px;
    margin-top: 3px;

}
.describete{
    margin-left: 15.5%;
    min-height: 200px;
    margin-top: 3px;
    min-width: 200px;
    border-radius: 5px;
}
.cont{
    width: 191px;
    height: 100px;
   margin-left: 11%;
   margin-top: 5px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
}
.inferior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
.atras{
width: 88px;
height: 28px;
background-color: transparent;
filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
margin-left: 5%;
font-family: var(--fontRevxRegular);
}
.sige{
width: 100px;
height: 48px;
background: #CE0037;
border-radius: 2px;
margin-right: 4%;
}
