.padre{
    height: 100vh;
    width: 100vw;
    background-size:100%;
    background-image: url(../../../assets/img/6270801.png),url(../../../assets/img/fondo_regcom.png); 
}
.logo{
    width: 4.5vw;
    margin-left: 5.5%;
    margin-top: 1.5%;
}
.medio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}
.titulo{
    font-family: var(--fontRevxBold);
    font-size: var(--sizeDesktopHeading1);
    margin-right: 12%;
}
.letrasMitad{
    display: flex;
    flex-direction: row;

}
.tex{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-top: 3%;
    margin-left: 11.5%;
    
}
.cajasMitad{
    display: flex;
    flex-direction: row;
}
.fecha{
    height: 3.5em;
    width: 22em;
    margin-left: 11.5%;
    margin-top: 0.5%;
    border-radius: 4px;
    color: black;
    font-family: var(--fontRevxRegular);
    
}
.idioma{
    height: 3.5em;
    width: 22em;
    margin-left: 8.5%;
    margin-top: 0.5%;
    border-radius: 4px;
    color: black;
    font-family: var(--fontRevxRegular);
    
}
.abeja{
    margin-left: 10.5%;
    margin-top: 15%;
}
.ultimasLetras{
    display: flex;
    flex-direction: row;

}
.tex2{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-top: 3%;
    margin-left: 20.5%;

}
.tex3{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-top: 3%;
    margin-left: 24%;
    border-radius: 5px;
}
.nacionalidad{
    height: 3.5em;
    width: 22em;
    margin-left: 11.5%;
    margin-top: 0.5%;
    border-radius: 4px;
    color: black;
    font-family: var(--fontRevxRegular);

}
.describete{
    margin-left: 8.7%;
    margin-top: 0.5%;
    height: 15em;
    width: 22em;
    border-radius: 5px;
    text-align:top;
    color: black;
    
}
.cont{
    width: 191px;
    height: 100px;
   margin-right: 20%;
   margin-top: 2%;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
}
.inferior{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 2%;

}


.sige{
padding: 12px 16px;
width: 100px;
height: 48px;
background: #CE0037;
border-radius: 2px;
margin-right: 4%;
}
.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    margin-left: 12%;
    margin-top: 1%;
    border: 2px solid white;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.4);
    
    
}
.tex0{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-top: 3%;
    margin-left: 11.5%;
}
.texA{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-top: 3%;
    margin-left: 19.5%;
}
.texI{
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonBody1);
    margin-top: 3%;
    margin-left: 16%;
}
.redes{
    background-color:#123D66;
    height: 6em;
    width: 12em;
    margin-left: 11%;
    margin-top: 0.6%;
    border-radius: 4px;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.4);

}