<div class="padre">
    <div class="superior">
        <img class="logo" src="../../../assets/img/logo_blac.png">
    </div>
    <div class="medio">
        <p class="titulo">Completa tu información</p>
        <div class="letrasMitad">
            <p class="tex0">Fecha de nacimiento</p>
            <p class="texI">Idiomas que usas</p>
            <p class="texA">Sube tu icono</p>
        </div>
        <div class="cajasMitad">
            <input type="text" class="fecha" placeholder="Placeholder">
            <input type="text" class="idioma" placeholder="idioma">
            <div class="circulo">
                <img src="../../../assets/img/image 91.png" class="abeja">
            </div>
            
        </div>
        <div class="ultimasLetras">
            
                <p class="tex">Nacionalidad</p>
                <p class="tex2">Descríbete</p>
                <p class="tex3">Contáctame</p>
        
        </div>
        <div class="cajasMitad">
            <input type="text" class="nacionalidad" placeholder="Placeholder">
            <input type="text" class="describete" placeholder="Sobre mi">
            <div class="redes">
                <img src="../../../assets/img/Group 16.png" class="cont">
            </div>
          
        </div>
    </div>
    <div class="inferior">
     
        <button class="sige" routerLink="../registro-final">Siguiente</button>

    </div>
</div>

