<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/pngwing.com (10).png" alt="Seth" *ngIf="this.tipo == true">
                <img class="imagen" src="../../../assets/img/580b57fcd9996e24bc43c2f3.png" alt="Poppy" *ngIf="this.tipo == false">
        </div>
        <!-- <div class="lfm">
                <div>
                        <div class="tituloLFM">LFM Mode</div>
                </div>
                <label class="switch">

                        <input type="checkbox">
                        <span class="slider round"></span>
                </label>
                <div class="onOff">
                        <div class="etiquetaOff">Off</div>
                        <div class="etiquetaOn">On</div>
                </div>
        </div> -->
        <div class="titulo" >
                <p class="scrim">SCRIM</p>
        </div>
        <div class="card" *ngIf="this.tipo == true">
                <div class=" ranked info">
                        <div class="tipo">
                                <p>RANKED</p>
                        </div>
                        <div class="descripcion" *ngIf="this.buscando == false">
                                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat maecenas est commodo, massa aliquam, vivamus tincidunt quisque. Venenatis, montes, vestibulum aliquet porttitor phasellus sit. Odio a tincidunt nisl, 
                                        iaculis eget. Odio luctus tincidunt ut massa ipsum mattis proin habitasse ipsum. Mattis accumsan non elit.</p>
                        </div>
                        <div class="descripcion bloque" *ngIf="this.buscando == true">
                                <p class="texto">Buscando partida</p>
                                <img  class="load" src="../../../assets/img/load.svg" alt="load">
                        </div>

                </div>
                <div class="botones">
                        <!-- <button [ngClass]="this.tipo == true ? 'boton1Rojo': 'boton1Azul'"> -->
                        <button class="boton1" *ngIf="this.buscando == false">
                               <p class="combatir">Combatir</p> 
                        </button>
                        <button class="boton2">
                                Volver
                        </button>
                </div>
        </div>
        <div class="card" *ngIf="this.tipo == false">
                <div class=" ranked amistosa info" >
                        <div class="tipo">
                                <p>AMISTOSA</p>
                        </div>
                        <div class="descripcion">
                                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat maecenas est commodo, massa aliquam, vivamus tincidunt quisque. Venenatis, montes, vestibulum aliquet porttitor phasellus sit. Odio a tincidunt nisl, 
                                        iaculis eget. Odio luctus tincidunt ut massa ipsum mattis proin habitasse ipsum. Mattis accumsan non elit.</p>
                        </div>
                </div>
                <div class="botones">
                        <button class="boton1Azul">
                               <p class="combatir">Buscar</p> 
                        </button>
                        <button class="boton2">
                                Volver
                        </button>
                </div>
        </div>

</div>
