        <div id="containerMenu">
            <nav id="navMenu">
                <a id="aPlayer" href="#">PlayerName<img id="avatar" src="../assets/img/avatar.jpg" alt="avatar" width="70px" height="70px"></a>    
                <a href="#">Perfil</a>
                <hr>
                <a href="#">Mi equipo</a>
                <hr>
                <a routerLink="/alerts">Alertas</a>
                <hr>
                <a routerLink="/mensajes">Mensajes</a>
                <hr>
                <a href="#">Ajustes</a>
                <hr>
                <a href="#">T&C</a>
                <hr>
                <a id="aCloseSession" href="#">Cerrar sesión</a>
            </nav>
        </div>