<div id="containerMenu">

    <nav id="navMenu">
        <div id="aPlayer">
            <p>PlayerName</p>
            <div class="imagen"></div>
        </div>    
        <div class="apartado">
            <div routerLink="info-usuario-personal">Perfil</div>
        </div>
        <div class="apartado">
            <div routerLink="../info-equipo-personal">Mi equipo</div>
        </div>
        <div class="apartado" (click)="abrirAlertas()">
            <div>Alertas</div>            
        </div>
        <div class="apartado" (click)="abrirchats()">
            <div>Mensajes</div>
        </div>
        <div class="apartado">
            <div href="#">Ajustes</div>
        </div>
        <div class="apartado">
            <div href="#">T&C</div>
        </div>
        <div class="cerrarSesion">
            <div id="aCloseSession" routerLink="../landing">Cerrar sesión</div>
        </div>
    </nav>
</div>
<div class="chats" *ngIf="this.chats == true">
    <app-lista-chats></app-lista-chats>
</div>
<div class="chats" *ngIf="this.alertas == true">
    <app-alerts></app-alerts>
</div>