<div id="containerMenu">
    <div class="fondo" on-click="cerrar(false)"></div>

    <nav id="navMenu">
        <div id="aPlayer">
            <p>{{this.ServicioLogin.nombre}}</p>
            <div class="imagen" style="background-image:url({{this.ServicioLogin.imagen}});"></div>
        </div>    
        <div class="apartado">
            <div on-click="cerrar(false)" routerLink="info-usuario-personal">Perfil</div>
        </div>
        <div class="apartado">
            <div on-click="cerrar(false);conEquipo()">Mi equipo</div>
        </div>
        <div class="apartado"  on-click="cerrar(false); abrirAlertas(true)">
            <div>Alertas</div>            
        </div>
        <div class="apartado" on-click="cerrar(false)">
            <div>Mensajes</div>
        </div>
        <div class="apartado">
            <div href="#">Ajustes</div>
        </div>
        <div class="apartado">
            <div href="#">T&C</div>
        </div>
        <div class="cerrarSesion">
            <div id="aCloseSession" on-click="cambiarLfm()" routerLink="../landing">Cerrar sesión</div>
        </div>
    </nav>
</div>
<!-- <div class="chats" *ngIf="this.chats == true">
    <app-lista-chats></app-lista-chats>
</div>
<div class="chats" *ngIf="this.alertas == true">
    <app-alerts></app-alerts>
</div> -->