<main>
    <header></header>
<div id="containerBig">
    <div>
        <img id="braum"src="../../../assets/img/braum.png" alt="">
    </div>
   
    <div id="text">
        <h1>¿Aún no tienes un equipo?</h1>
        <div id="containerButtons">
            <button id="enterButton"> UNIRSE </button>
        <button id="createButton"> CREAR </button></div>
        <div id="lorem">
            Lorem ipsum dolor sit amet consecteturum tenetur! <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>
         Praesentium, aspernatur fuga, debitis natus facere ullam aut <br>
         omnis distinctio optio, aperiam soluta consequatur rerum! Iste
        </div>
    </div>
</div>

</main>