<div class="padre">
    <div class="superior">
        <img class="logo" src="../../../assets/img/logo_blac.png">
    </div>
    <div class="medio">
        <div class="letras">
            <p class="titulo">BIENVENIDO GAMER!</p>
        </div>
        <div class="contenido">
            <p class="confir">Hemos enviado un mail de confirmación a la dirección que nos has indicado, accede a tu correo para validar tu cuenta</p>
        </div>
        
            <button class="boton" routerLink="../login">
                <p class="leta">Acceder</p>
            </button>
            
       


    </div>
</div>

