<div class="container">
        <div class="top-name-container">
                <div class="torneo-nombre">
                        <h4>Rango Diamante</h4> <!-- Nombre del torneo -->
                </div>
                <div class="torneo-fecha">
                        <p>Del 10 al 20 de enero</p> <!-- Fecha del torneo -->
                </div>
        </div>
        <div class="reglas">
                <input id="collapsible" class="toggle" type="checkbox">
                <label for="collapsible" class="lbl-toggle">Reglas</label>
                <div class="collapsible-content">
                        <div class="content-inner">
                                <p>
                                        Formada por tres periodos de competición (invierno, primavera y otoño) y por
                                        grupos de 10 equipos cada uno, estarán divididos por divisiones, véase
                                        Segunda División - Grupo 1, Segunda División, Grupo 2, etc. Se jugarán 9
                                        jornadas, siendo cada partido a Bo2(mejor de 2 mapas), sin embargo, los
                                        equipos podrán elegir democráticamente, mediante votación previo inicio del
                                        split, si desean modificarlo a Bo1. Las jornadas se disputarán los domingos a
                                        las
                                        17:00, pudiendo los equipos acordar entre sí un cambio de horario a cualquier
                                        día y hora de la misma semana en la que se encuentra su partido.
                                        *Algunos grupos podrían tener más o menos de 10 equipos por grupo y por
                                        tanto los detalles podrían resultar modificados. Consultar Discord o
                                        directamente
                                        con los admins si hay dudas sobre ello.

                                        Reglamento Temporada 2022 - League of Legends
                                        LEA, Liga de Esports Amateur
                                        Al finalizar la fase regular, los 4 equipos mejor clasificados de cada grupo
                                        jugarán los playoffs de la división, siendo así 16 equipos a bracket simple.
                                        En caso de no haber suficientes equipos para hacer 4 grupos por división, se
                                        adaptaría a las circunstancias de cada división.
                                        Periodo de invierno -> 13 de febrero a 10 de abril
                                        Periodo de primavera -> 1 de mayo a 26 de junio
                                        Periodo de otoño -> 18 de septiembre a 13 de noviembre
                                        Adicionalmente, se indica el rango de ELO de cada posible división existente:
                                        - 2ª División: Diamante 4 0LP o superior
                                        - 3ª División: Platino 4 0LP a Diamante 4 0LP
                                        - 4ª División: Oro 4 0LP a Platino 4 0LP
                                        - 5ª División: Plata 4 0LP a Oro 4 0LP
                                        - 6ª División: Bronce 4 0LP a Plata 4 0LP
                                        - 7ª División: Hierro 4 0LP a Bronce 4 0LP
                                        De no haber suficientes equipos para formar una división, dichos equipos serán
                                        movidos hacia arriba en la escala de divisiones.
                                </p>
                        </div>
                </div>
        </div>
        <div class="noticias">
                <div class="noticias-left">
                        <h3>Noticias</h3>
                </div>
                <div class="noticias-right">
                        <div class="noticia">
                                <div class="noticia-titulo">Jugada de la semana</div>
                                <div class="noticia-fecha">20-01-2022</div>
                        </div>
                        <div class="noticia">
                                <div class="noticia-titulo">Picks poderosos</div>
                                <div class="noticia-fecha">18-01-2022</div>
                        </div>
                        <div class="noticia">
                                <div class="noticia-titulo">Equipo de la semana</div>
                                <div class="noticia-fecha">10-01-2022</div>
                        </div>
                </div>
        </div>
        <div class="cuadro">
                <div class="cuadro-left">
                        <div class="cuadro-left-top">
                                <div class="cuadro-left-top-titulo">
                                        <h3>Cuadro</h3>
                                </div>
                                <div class="cuadro-left-top-etapa">
                                        <h5>Mostrando octavos</h5>
                                </div>
                        </div>
                        <!-- <div class="cuadro-left-bottom">
                                <p>Expandir</p> 
                        </div> -->
                </div>
                <div class="cuadro-right">
                        <div *ngFor="let torneo of torneos">
                                <div *ngIf="torneo.partida.resultadoEquipo1 > torneo.partida.resultadoEquipo2"
                                        class="partida">
                                        <div class="resultado-partida">
                                                <div class="resultado-partida-equipo-ganador">
                                                        <div class="resultado-partida-equipos">
                                                                <h3 class="nombre-equipo">{{torneo.partida.equipo1}}
                                                                </h3>
                                                                <h3 class="puntos-equipo">
                                                                        {{torneo.partida.resultadoEquipo1}}</h3>
                                                        </div>
                                                        <div class="selector-ganador">
                                                                <div class="equipo-ganador">
                                                                        <img src="../../../assets/img/arrov_victoria.svg"
                                                                                alt="">
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="resultado-partida-equipo-perdedor">
                                                        <div class="resultado-partida-equipos">
                                                                <h3 class="nombre-equipo">{{torneo.partida.equipo2}}
                                                                </h3>
                                                                <h3 class="puntos-equipo">
                                                                        {{torneo.partida.resultadoEquipo2}}</h3>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div *ngIf="torneo.partida.resultadoEquipo2 > torneo.partida.resultadoEquipo1"
                                        class="partida">
                                        <div class="resultado-partida">
                                                <div class="resultado-partida-equipo-perdedor">
                                                        <div class="equipo">
                                                                <h3 class="equipo-nombre">{{torneo.partida.equipo1}}
                                                                </h3>
                                                                <h3 class="equipo-puntos">
                                                                        {{torneo.partida.resultadoEquipo1}}</h3>
                                                        </div>
                                                </div>
                                                <div class="resultado-partida-equipo-ganador">
                                                        <div class="equipo">
                                                                <h3 class="equipo-nombre">{{torneo.partida.equipo1}}
                                                                </h3>
                                                                <h3 class="equipo-puntos">
                                                                        {{torneo.partida.resultadoEquipo1}}</h3>
                                                        </div>
                                                        <div class="selector-ganador">
                                                                <div class="equipo-ganador">
                                                                        <img src="../../../assets/img/arrov_victoria.svg"
                                                                                alt="">
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="resultados">
                <div class="resultados-titulo">
                        <h3>Resultados</h3>
                </div>
                <div class="resultados-carrousel">
                        <div *ngFor="let torneo of torneos" class="qwerty">
                                <div *ngIf="torneo.partida.resultadoEquipo1 > torneo.partida.resultadoEquipo2"
                                        class="resultado-card">
                                        <div class="resultado-partida">
                                                <div class="resultado-partida-equipo-ganador">
                                                        <div class="resultado-partida-equipos">
                                                                <h3 class="nombre-equipo">{{torneo.partida.equipo1}}
                                                                </h3>
                                                                <h3 class="puntos-equipo">
                                                                        {{torneo.partida.resultadoEquipo1}}</h3>
                                                        </div>
                                                        <div class="selector-ganador">
                                                                <div class="equipo-ganador">
                                                                        <img src="../../../assets/img/arrov_victoria.svg"
                                                                                alt="">
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="resultado-partida-equipo-perdedor">
                                                        <div class="resultado-partida-equipos">
                                                                <h3 class="nombre-equipo">{{torneo.partida.equipo2}}
                                                                </h3>
                                                                <h3 class="puntos-equipo">
                                                                        {{torneo.partida.resultadoEquipo2}}</h3>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div *ngIf="torneo.partida.resultadoEquipo2 > torneo.partida.resultadoEquipo1"
                                        class="resultado-card">
                                        <div class="resultado-partida">
                                                <div class="resultado-partida-equipo-perdedor">
                                                        <div class="resultado-partida-equipos">
                                                                <h3 class="nombre-equipo">{{torneo.partida.equipo1}}
                                                                </h3>
                                                                <h3 class="puntos-equipo">
                                                                        {{torneo.partida.resultadoEquipo1}}</h3>
                                                        </div>
                                                </div>
                                                <div class="resultado-partida-equipo-ganador">
                                                        <div class="resultado-partida-equipos">
                                                                <h3 class="nombre-equipo">{{torneo.partida.equipo2}}
                                                                </h3>
                                                                <h3 class="puntos-equipo">
                                                                        {{torneo.partida.resultadoEquipo2}}</h3>
                                                        </div>
                                                        <div class="selector-ganador">
                                                                <div class="equipo-ganador">
                                                                        <img src="../../../assets/img/arrov_victoria.svg"
                                                                                alt="">

                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>