<div class="padre">
        <div class="tristana">
        </div>
        <div class="imagen">
        </div>
        <div class="parteArriba">
                <img class="logo" src="../../../../assets/img/logo_blac.png">
        <div class="media">
                <p class="login">Login</p>
                <div class="inputs">
                        <div class="datosArriba">
                                        <div class="placeholder">
                                                <p class="user">User</p>
                                        </div>
                                        <div class="CirculoGrande">
                                                <p class="circulo1"></p>
                                        </div>
                                </div> 
                        <label>
                                <input type="text"[(ngModel)]="loginForm.nombre.val" id="name" #name class="userCaja" placeholder="User">
                        </label>
                        <div class="datosAbajo">
                                <div class="placeholder">
                                        <p class="contaseña">Contraseña</p>
                                </div>
                                <div class="CirculoGrande">
                                        <p class="circulo"></p>
                                </div>
                        </div>
                        <label>
                                <input type="password"[(ngModel)]="loginForm.contrasena.val" id="pass" #pass class="userCaja" placeholder="Pass" >
                        </label>
                        


                        <div class="crear">
                                <p class="textoCrear">¿No tienes una cuenta? Accede a
                                        <a routerLink="/registro">Registro</a>
                                </p>
                        
                        </div>
                        <div class ="alerta" *ngIf="this.alerta">{{this.alerta}}</div>
                </div>
        <div class="bot">
                <div class="letras">
                        <p class="terminos">
                        Al registrarte, confirmas que estás de acuerdo con nuestros Términos de Servicio y has leído la
                        Política de privacidad, y accedes a hacer público tu perfil de jugador.
                        </p>
                </div>
                <div class="boton">
                        <button  [ngClass]="isValidForm() ? 'registro' : 'botonDesactivado'" [disabled]="!isValidForm()" on-click="login(name.value, pass.value)">Acceder</button>
                </div>
        </div>
</div>
 