<main>
        <header>
            <div class="padre">
                <div class="contenidoHeader">
                    <a>
                        <img src="../../assets/img/logo.png.png" class="logo">
                    </a>
                    <div class="letrasHeader">
                        <p id="tool">CREAR USUARIO MANAGER</p>
                    </div>
                    <div class="colocarImagenPerfil">
                        <div class="imagen"></div>
                        <p id="adminText">Manager</p>
    
                    </div>
                </div>
                <hr class="lineaSeparadora">
            </div>
        </header>
        <div class="form">
                <div class="datos">
                        <div class="info">
                                <label class="texto" for="mail">Mail</label>
                                <input #mail class="input" type="text" name="mail">
                        </div>
                        <div class="info">
                                <label class="texto" for="Pass">Contraseña</label>
                                <input #pass class="input"  type="text" name="Pass">
                        </div>
                        <div class="info">
                                <label class="texto" for="confirmaPass">Repite tu contraseña</label>
                                <input class="input"  type="text" name="confirmaPass">
                        </div>
                </div>
                <div class="confirmar">
                        <button class="boton" on-click="crearAdmin( mail.value,pass.value)"> Crear Manager</button>
                </div>
        </div>
</main>
