<!-- <div *ngIf="this.routeLocation.path() != '' &&  this.routeLocation.path() != '/admin-create' && this.routeLocation.path() != '/admin-tools' && this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' && this.routeLocation.path() != '/registro-completa-registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-header></app-header>
        
        <div *ngIf="this.routeLocation.path() != '' && this.routeLocation.path() != '/home' && this.routeLocation.path() != '/torneos' && this.routeLocation.path() != '/detalles-torneo'">
                <app-lfm></app-lfm>
        </div>
        <app-side-bar></app-side-bar>
</div>
<div *ngIf="this.routeLocation.path() != '' &&  this.routeLocation.path() != '/crear-admin' && this.routeLocation.path() != '/admin-tools' && this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-volver></app-volver>
</div> -->
<!-- <div *ngIf="this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' && this.routeLocation.path() != '/registro-completa-registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-chat></app-chat>
</div> -->

<!-- <div *ngIf="this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' && this.routeLocation.path() != '/registro-completa-registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-lista-chats></app-lista-chats>
        <app-chat></app-chat>
</div> -->

<!-- <app-header></app-header> -->
<!-- <app-lfm></app-lfm> -->
<!-- <app-side-bar></app-side-bar> -->
<!-- <app-volver></app-volver> -->
<!-- <app-noequipo></app-noequipo> -->
<!-- <app-login></app-login> -->
<!-- <app-home></app-home> -->
<!-- <app-ranking></app-ranking> -->
<!-- <app-detalles-torneo></app-detalles-torneo> -->
<!-- <app-torneos></app-torneos> -->
<!-- <app-registro></app-registro>
<app-registro-completa-registro></app-registro-completa-registro> -->
<!-- <app-registro-final></app-registro-final> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-partida></app-partida> -->
<!-- <app-seleccion-partida></app-seleccion-partida> -->
<!-- <app-partida-detalle></app-partida-detalle> -->
<!-- <app-buscar-scrim></app-buscar-scrim> -->
<!-- <app-equipos></app-equipos> -->
<!-- <app-landing></app-landing> -->
<!-- <app-registro-completa-registro></app-registro-completa-registro> -->
<!-- <div *ngIf="this.routeLocation.path() != '' &&  this.routeLocation.path() != '/admin-create' && this.routeLocation.path() != '/admin-tools' && this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' && this.routeLocation.path() != '/registro-completa-registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-footer></app-footer> -->
<!-- </div> -->

