<div *ngIf=" this.routeLocation.path() != '/registro-fav' &&   this.routeLocation.path() != '/normas-torneo' &&  this.routeLocation.path() != '/equipo-creado' &&  this.routeLocation.path() != '/crear-torneo' && this.routeLocation.path() != '' && this.routeLocation.path() != '/admin-create' && this.routeLocation.path() != '/admin-tools' && this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' && this.routeLocation.path() != '/registro-completa-registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-header></app-header>
        <div *ngIf="this.ServicioMenu.activo == true">
                <app-menu></app-menu>
        </div>
        <div *ngIf="this.ServicioAlertas.activo == true">
                <app-alerts></app-alerts>
        </div>
        <div *ngIf="this.ServicioListaChats.activo == true">
                <app-lista-chats></app-lista-chats>
        </div>
        <div *ngIf="this.ServicioChats.activo == true">
                <app-chat></app-chat>
        </div>
        
        <div *ngIf="this.routeLocation.path() != '/normas-torneo' &&  this.routeLocation.path() != '/no-team' && this.routeLocation.path() != '/crear-equipo' && this.routeLocation.path() != '/info-usuario-publico' && this.routeLocation.path() != '/info-usuario-personal' && this.routeLocation.path() != '/info-equipo-publico' && this.routeLocation.path() != '/info-equipo-personal' && this.routeLocation.path() != '/seleccion-partida' && this.routeLocation.path() != '/partida-detalle' && this.routeLocation.path() != '/partida' && this.routeLocation.path() != '/home' && this.routeLocation.path() != '/torneos' && this.routeLocation.path() != '/detalles-torneo'">
                <app-lfm></app-lfm>
        </div>
        <app-side-bar></app-side-bar>
</div>
<div *ngIf=" this.routeLocation.path() != ''  && this.routeLocation.path() != '/home' && this.routeLocation.path() != '/admin-tools' && this.routeLocation.path() != '/partida-detalle' && this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-volver></app-volver>
</div>

<!-- <div *ngIf="this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' && this.routeLocation.path() != '/registro-completa-registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-chat></app-chat>
</div> -->
<router-outlet></router-outlet>
<div *ngIf="  this.routeLocation.path() != '/registro-fav' &&   this.routeLocation.path() != '/crear-torneo' &&  this.routeLocation.path() != '' &&this.routeLocation.path() != '/admin-create' && this.routeLocation.path() != '/admin-tools' && this.routeLocation.path() != '/landing' && this.routeLocation.path() != '/registro' && this.routeLocation.path() != '/registro-completa-registro' 
        && this.routeLocation.path() != '/registro-final' &&this.routeLocation.path() != '/login' ">
        <app-footer></app-footer>
</div>


