
<app-header></app-header>
<!-- <app-lfm></app-lfm> -->
<app-side-bar></app-side-bar>
<!-- <app-volver></app-volver> -->
<!-- <app-home></app-home> -->
<!-- <app-ranking></app-ranking> -->
<!-- <app-detalles-torneo></app-detalles-torneo> -->
<!-- <app-torneos></app-torneos> -->
<!-- <app-registro-completa-registro></app-registro-completa-registro> -->
<!-- <app-registro-final></app-registro-final> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-partida></app-partida> -->
<!-- <app-seleccion-partida></app-seleccion-partida> -->
<!-- <app-partida-detalle></app-partida-detalle> -->
<!-- <app-buscar-scrim></app-buscar-scrim> -->
<!-- <app-equipos></app-equipos> -->
<app-footer></app-footer>
