<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/ashe.png" alt="Garen" >
        </div>
        <div class="contenedor">
                <div class="titulo" >
                        <p class="scrim">RANKING</p>
                </div>
                <div class="descripcion">
                        <div class="arriba">
                                <div class="elegir">
                                        <button [ngClass]="this.elegido == true ? 'elegidoBoton' : 'elegirBoton'" on-click="elegir(true)">Equipos</button>
                                        <button [ngClass]="this.elegido == false ? 'elegidoBoton' : 'elegirBoton'" on-click="elegir(false)" on-click="anadir()">Jugadores</button>
                                </div>
                                <!-- <div class="filtrar">
                                        <p class="filtro">Filtrar</p>
                                        <img class="img" src="../../../assets/img/filter.svg" alt="filter">
                                </div> -->
                        </div>
                        <div class="equipos">
                                <div class="lista">
                                        <ng-container *ngIf="this.elegido == true">
                                                <div class="etiquetaEquipo" *ngFor="let equipo of equipos" >
                                                        <div class="rank">Rank</div>  
                                                        <div class="numeroRank">{{equipo.rank}}</div> 
                                                        <div class="numeroRank linea">|</div>   
                                                        <div class="nombre">{{equipo.nombre}}</div>  
                                                        <div class="stats">
                                                                <div class="numeroStats">WR </div>
                                                                <div class="numeroStats wr">{{equipo.wr}} </div>
                                                                <div class="numeroStats">/ </div>
                                                                <div class="numeroStats">ELO </div>
                                                                <div class="numeroStats elo">{{equipo.elo}} </div>
                                                        </div>           
                                                </div>
                                        </ng-container>
                                        <ng-container *ngIf="this.elegido == false">
                                                <div class="etiquetaEquipo" *ngFor="let equipo of jugadores" >
                                                        <div class="rank">Rank</div>  
                                                        <div class="numeroRank">{{equipo.rank}}</div> 
                                                        <div class="numeroRank linea">|</div>   
                                                        <div class="nombre">{{equipo.nombre}}</div>  
                                                        <div class="stats">
                                                                <div class="numeroStats">WR </div>
                                                                <div class="numeroStats wr">{{equipo.wr}} </div>
                                                                <div class="numeroStats">/ </div>
                                                                <div class="numeroStats">ELO </div>
                                                                <div class="numeroStats elo">{{equipo.elo}} </div>
                                                        </div>           
                                                </div>
                                        </ng-container>
                                </div>
                                <div class="barrita"></div>
                        </div>
                </div>
        </div>
</div>