
#containerBig{
    display: flex;
    flex-direction: row;
    height: 65%;
    overflow: hidden;
}

header{
    width: 100%;
    height: 15%;
    background-color: black;
    }

main{
    background-image: url(../../../assets/img/fondo_basico.jpg);
    width: 100vw;
    height: 100vh;  
}
#containerRankingText{
   width: 100%;
   height: 12%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: white;
 
}
p{
    margin-top: 2%;
    width:12%;
    border: solid 1px  red;
    padding: 0,5%;
    font-family: var(--fontTitulos);
    font-size: var(--sizeDesktopHeading2);
    text-align: center;
}
#draven{
    height: 38vw;    
    /* border: solid 1px white; */
}
#rankingMain{
    border-radius: 4px;
    margin-top: 2%;
    width: 50%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    background-color: var(--colorAzulPrimario);
}
#rankingTitles{
    margin-top:2%;
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: 8%;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
button{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    border: 0;
    color: var(--colorAzulPrimario);
    font-family: var(--fontRevxBlack)    
}
#filterButton{
    margin-left: 35%;
    width: 10%;
}
#backRank{
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 4px;
    width: 96%;
    height: 80%;
    background-color: var(--colorAzulOscuroPrimario);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
}
#rankDataBar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 98%;
    height: 12%;
    background-color: var(--colorGrisPrimario);
    border-radius: 4px;
    font-family: var(--fontRevxMedium);
    color: var(--colorAzulOscuroPrimario);
    overflow: scroll;
    overflow-x: hidden;
}
#teamName{
    font-size: x-large;
    font-family: var(--fontRevxBlack);
}
#wrData{
    background-color: rgb(114, 112, 112);
    border-radius: 4px;
    color: white;
    height: 88%;
    width: 24%;
    text-align: center;
    align-items: center;
    padding-top: 0.5%;
}