<main>
    <header></header>

    <div id="containerRankingText">
        <p id="rankingText"> RANKING </p>
    </div>

    <div id="containerBig">

    <div>
        <img id="draven"src="../../../assets/img/Draven_Render.png" alt="draven">
    </div>
    <div id="rankingMain">
        <div id="rankingTitles">
            <button disabled="disabled"> Equipos </button>
            <button> Jugadores </button>
            <button id="filterButton"> Filtrar ≡</button>
        </div>

        <div id="backRank">
            <div id="rankDataBar">
                Rank 323 |
                <div id="teamName">
                    TeamName 
                </div>
                <div id="wrData">
                    wr 76  |  ELO 23541
                </div>
            </div>
        </div>
    </div>
</div>
</main>