*{
    font-family: var(--fontRevxBlack);
    /* border: solid 1px red; */
}
button{
    box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.4) ;
}
main{
    height: 100vh;
    background-image: url(../../../assets/img/fondo_admin.png);
}
header{
    height: 15%;
}
#containerBig{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 10vh;
    /* border: solid 1px white; */
    font-size: var(--sizeGrande);
    color: white;
    margin-bottom: 2%;
    text-shadow: 0.1em 0.1em 0.2em black;
}

h2{
    color: var(--colorAzulPrimario);
    margin-top: 1%; 
    text-shadow: 0.1em 0.1em 0.2em var(--colorAzulPrimario);
}
#containerTeamName{
    background-color: white;
    width: 32%;
    text-align: center;
    /* border: solid 1px white; */
    font-size: var(--sizeNames);
    font-family: var(--fontRevxRegular);
    
}

#containerAccesToTeam{
    margin-top: 4%;
    width: 40%;
    height: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}
button{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
    border:0;
    border-radius: 4px;
    text-align: center;
    font-size: var(--sizeNames);
    color: white;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeDesktopHeading4);
    margin-top: 1%;
}