<div class="barra">
        <div id="barraColapsada" on-click="abrir()" >
                <div id="flecha">
                        <img class="img" src="../../../assets/img/noun_Arrow_18954.svg" alt="flecha">
                </div>
                <div id="pestana">
                </div>
        </div>
        <div on-click="abrir()" [ngClass]="this.abierto == false ? 'barraNormal' : 'barraNormalFuera'">
                <div id="lol" class="juego"></div>
                <hr>
                <div id="tft" class="juego"></div>
                <hr>
                <div  id="val" class="juego"></div>
        </div>
</div>
        
<div class="padre">
        <div class="lfm">
                <label class="switch">
                        <div class="tituloLFM">LFM Mode</div>
                        <div class="etiquetaOff">Off</div>
                        <input type="checkbox">
                        <span class="slider round"></span>
                        <div class="etiquetaOn">On</div>
                </label>
        </div>
        <div class="main">
                <div class="titulo">
                        <p class="welcome">Bienvenido de nuevo John</p>
                </div>
                <div class="bottom">
                        <div class="stats">
                                <div class="rank">
                                        <div class="datos">
                                                Ranking 129 de 2283 jugadores en Europa |   Rank 689 en Global
                                        </div>
                                        <div class="decorador">
                                        </div>
                                </div>
                                <div class="wr">
                                        <div class="datos">
                                                <p class="tipo"> KDA : </p><p class="valor">23  | </p>  
                                                <p class="tipo"> WR :</p> <p class="valor"> 76%</p>
                                        </div>
                                        <div class="decorador">

                                        </div>
                                </div>
                        </div>
                        <div class="noticia">
                                <div class="titular">
                                        <p class="nuevo">NUEVO TORNEO RANGO DIAMANTE</p>
                                        <p class="fecha">Del 12 al 26 de Noviembre</p>
                                </div>
                                <button type="button" class="botón"> ¡Apúntate!</button>
        
                        </div>
                </div>
        </div>
</div>

