<div class="barra">
        <div id="barraColapsada" on-click="abrir()">
                <div id="flecha">
                         <img class="img" src="../../../assets/img/noun_Arrow_18954.svg" alt="flecha">
                </div>
                <div id="pestana">
                </div>
        </div>
        <div on-click="abrir()" [ngClass]="this.abierto == false ? 'barraNormal' : 'barraNormalFuera'">
                <div id="lol" class="juego"></div>
                <hr>
                <div id="tft" class="juego"></div>
                <hr>
                <div  id="val" class="juego"></div>
        </div>
</div>
        
