<div class="imagen">
        <div class="torneos-container">
                <div class="modalCancelar" *ngIf="this.apuntar == true">
                        <div class="mensaje">
                                <div class="infoModal">
                                        <div class="titulo">Vas a apuntarte al torneo</div>
                                        <div class="texto"> ¿Estás seguro de que quieres apuntarte? Esta acción no se puede deshacer, tendréis que combatir conn los equipos asignados</div>
                                </div>
                                <div class="botones">
                                        <button class="botonD" on-click="apuntarse(false)">Deshacer</button>
                                        <button class="botonC" routerLink="../detalles-torneo">Confirmar</button>
                                </div>
                        </div>
                        <div class="fondo" on-click="apuntarse(false)">
        
                        </div>
                </div>
                <div class="top-container">
                        <div class="torneo-activado" *ngIf="torneo; else esFalso">
                                <div class="info-torneo-activado">
                                        <div class="nombre-torneo-activado">
                                                {{torneo.nombre_torneo}}
                                        </div>
                                        <div class="fecha-torneo-activado">
                                               Empieza el {{torneo.fecha_inicio}}
                                        </div>
                                </div>
                                <div class="botones-torneo-activado">
                                        <button *ngIf="this.torneo.selected ==false" class="boton-torneo-activado-left" on-click="apuntarse(true)" >¡Apuntate</button>        
                                        <a *ngIf="this.torneo.selected == true" href="#" class="boton-torneo-activado-left" routerLink="../detalles-torneo">Estadísticas</a>
                                        <a href="#" class="boton-torneo-activado-right"routerLink="../normas-torneo">Mas info</a>

                                </div>
                        </div>
                        
                        <ng-template #esFalso>
                                <div class="torneo-desactivado">
                                        <div class="top-title">
                                                <h1>ELIGE UN TORNEO</h1>
                                        </div>
                                        <div class="slogan">
                                                <p>Compite con tu equipo</p>
                                                <p>Escala en el ranking</p>
                                                <p>Gana premios</p>
                                        </div>
                                </div>
                        </ng-template>
                </div>
               
                
                <div class="bottom-container">
                        <h3>Torneos</h3>
                        <div class="carrousel-torneos">
                                <div [ngClass]="[getClass(torneo, i), torneo.selected ? 'seleccionado': ''] " on-click="mostrarTorneo(i)" *ngFor="let torneo of torneos; let i = index">
                                        <div class="card-title">{{torneo.nombre_torneo}}</div>
                                        <div class="card-info">
                                                <div class="card-tier">Tier {{torneo.tier}}</div>
                                        <div class="card-fecha">{{torneo.fecha_inicio}}</div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>