<div id="total">
    <div class="header"></div>
<div class="info1">
    <div class="infoNombre">
        <div class="texto">1upEs</div>
        <div class="adorno"></div>
    </div>
    
    <img class="imagenEquipo" src="./../../../../assets/img/iconooEquipo.png" alt="">
    <div class="roaster">Roster</div>
    <div class="jugadores">
    <div class="ranked">
        <div class="textoRanked">
                JohnDoe
        </div>
        <div class="adorno1"></div>
    </div>
    <div class="ranked">
        <div class="adorno1"></div>
        <div class="textoRanked">
                BreadWater
        </div>
    </div>
    <div class="ranked">
        <div class="textoRanked">
                GeorG
        </div>
        <div class="adorno1"></div>
    </div>
    <div class="ranked">
        <div class="adorno1"></div>
        <div class="textoRanked">
                Gui-Y
        </div>
    </div>
    <div class="ranked">
        <div class="textoRanked">
                Ethan
        </div>
        <div class="adorno1"></div>
    </div>
</div>
</div>
<div class="info2">
    <div class="titulo">
        <div class="texto1">Estadisticas</div>
        <div class="adorno"></div>
    </div>
    <div class="info2Primero">
        <div class="estadisticaWL">{{estadistica.win}} W / {{estadistica.loses}} L</div>
        <div>
            <img class="imagenLugar" src="./../../../../assets/img/EEUU.png" alt="">
            <div class="lugarText">{{estadistica.zona}}</div>
        </div>
    </div>
    <div class="info2Segunda">
        <div>
            <p>K</p>
            <p>D</p>
            <p>A</p>
        </div>
        <div>
            <p>{{estadistica.kills}}</p>/<p>{{estadistica.deaths}}</p>/<p>{{estadistica.asistencias}}</p>
        </div>
        <div>
            2.20 : 1  (29%)
        </div>
    </div>
    
    <div class="graph" style="display: block">
        <div class="porcenGanados">
            {{porcenGanados}}%
        </div>
        <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="false"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
        
    </div>
</div>
<div class="info3">
    <div class="titulo1">
        <div class="texto2">Rendimiento</div>
        <div class="adorno"></div>
    </div>
    <div class="infoEspecifica">
        <div class="filaInfo">
            <div class="info">
                <div class="Dato1">-2.0</div>
                <p class="Dato2">GD@15</p>
            </div>
            <div class="info">
                <div class="Dato1">21.9%</div>
                <p class="Dato2">Gold Share</p>
            </div>
            <div class="info">
                <div class="Dato1">19.8%</div>
                <p class="Dato2">Damage Share</p>
            </div>
        </div>
        <div class="filaInfo">
            <div class="info">
                <div class="Dato1">-55.6</div>
                <p class="Dato2">DMG/M-D</p>
            </div>
            <div class="info">
                <div class="Dato1">0.3</div>
                <p class="Dato2">Solo Deaths</p>
            </div>
            <div class="info">
                <div class="Dato1">18.9</div>
                <p class="Dato2">Vision Score</p>
            </div>
        </div>
    </div>
    
</div>
<button *ngIf="(admin === false)&&(equipoNecesita === true)" [ngClass]="userEquipo === false ? 'unirse' : 'unirseDesactivado'">Unirse</button>
<button class="contactar" *ngIf="(admin === true)">Contactar</button>
<button class="back">< Volver</button>

<footer></footer>
</div>
