<div id="containerxxl">
    <div id="containerimg">
        <img id="heimer" src="../../../assets/img/heimerdinguer.png" alt="heimerdinguer">
    </div>
    <div id="containerxl">
        <div id="title">
            <p id="text">AJUSTES</p>
        </div>
        <div id="containerContent">
            <div id="containerinfo">
                <div class="infocontent">
                    <div id="leftinfo">
                        <label for="">
                            <p>Cambiar contraseña</p>
                        </label>
                        <input type="text" placeholder="Introduce tu contraseña actual">
                        <input type="text" placeholder="Introduce la nueva contraseña">
                        <label for="">
                            <p>Posición favorita</p>
                        </label>
                        <input type="text" placeholder="Top, Mid, Support, Jungler o ADC">
                    </div>

                </div>
                <div class="infocontent">
                    <div id="leftinfo">
                        <label for="">
                            <p>Cambiar email</p>
                        </label>
                        <input type="text" placeholder="Introduce tu nuevo email">
                        <div class="containerOptions">
                            <p>Juego favorito</p>
                            <div id="containerButtons">
                                <button class="gameButton" id="lolButton"></button>
                                <button class="gameButton" id="valButton" disabled></button>
                                <button class="gameButton" id="tftButton" disabled></button>
                            </div>
                        </div>
                        <div class="containerOptions" id="onOff">
                            <p>Permitir mensajes</p>
                            <div id="containerMsgButtons">
                                <button class="onOff" id="onButton">ON</button>
                                <button class="onOff" id="offButton" disabled>OFF</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="containerSaveCancel">
            <button class="bigButtons" id="save" routerLink="../home">Guardar</button>
            <button class="bigButtons" id="cancel" routerLink="../home">Cancelar</button>
        </div>

    </div>
</div>