
<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/pngwing.com (10).png" alt="Seth">
                <img class="imagen2" src="../../../assets/img/580b57fcd9996e24bc43c2f3.png" alt="Seth">
        </div>
        <div class="titulo">
                <p class="scrim">SCRIM</p>
        </div>
        <div class="cards">
                <div class="card">
                        <div class=" ranked info">
                                <div class="tipo">
                                        <p>RANKED</p>
                                </div>
                                <div class="descripcion">
                                        <p>
                                        Los equipos de habilidad similar,
                                        se enfrentan para dejar claro quién es mejor. <br>
                                        ¡Gana para obtener puntos y escalar en nuestro ranking!
                                        </p>
                                </div>
                        </div>
                        <!-- <a> -->
                        <button buttontype="button" class="boton" on-click="redireccionar(true)">
                                ELEGIR
                        </button>
                        <!-- </a> -->
                </div>
                <div class="card">
                        <div class=" amistosa info">
                                <div class="tipo">
                                        <p>AMISTOSA</p>
                                </div>
                                <div class="descripcion">
                                        <p>
                                          Podrás seleccionar un equipo contra el que quieras combatir.<br> 
                                         ¡Exprímete al máximo, entrena y mejora tus habilidades y estrategias con este modo de juego!
                                        </p>
                                </div>
                        </div>
                        <button type="button" class="boton" routerLink="app-partida-detalle" on-click="redireccionar(false)">
                                 ELEGIR
                        </button>
                </div>
        </div>
</div>
