
<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/pngwing.com (10).png" alt="Seth">
                <img class="imagen2" src="../../../assets/img/580b57fcd9996e24bc43c2f3.png" alt="Seth">
        </div>
        <div class="titulo">
                <p class="scrim">SCRIM</p>
        </div>
        <div class="cards">
                <div class="card">
                        <div class=" ranked info">
                                <div class="tipo">
                                        <p>RANKED</p>
                                </div>
                                <div class="descripcion">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem auctor ornare sed laoreet arcu. Quis accumsan molestie arcu.</p>
                                </div>
                        </div>
                        <button type="button" class="boton">
                                ELEGIR
                        </button>
                </div>
                <div class="card">
                        <div class=" amistosa info">
                                <div class="tipo">
                                        <p>AMISTOSA</p>
                                </div>
                                <div class="descripcion">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem auctor ornare sed laoreet arcu. Quis accumsan molestie arcu.</p>
                                </div>
                        </div>
                        <button type="button" class="boton">
                                 ELEGIR
                        </button>
                </div>
        </div>
</div>
