<main>
    <header>
        <div class="padre">
            <div class="contenidoHeader">
                <a href="home">
                    <img src="../../assets/img/logo.png.png" class="logo">
                </a>
                <div class="letrasHeader">
                    <p id="tool">HERRAMIENTA DE ADMINISTRACIÓN</p>
                </div>
                <div class="colocarImagenPerfil">
                    <img src="../../assets/img/admin-modified.png" class="iconoPerfil">
                    <p id="adminText">Admin</p>

                </div>
            </div>
            <hr class="lineaSeparadora">
        </div>
    </header>


<div id="containerxxl"> 
    <div id="containerxl">
        <div id="titles">   
            <p>eSports</p>
            <p>Nombre de torneo</p> 
            <p>Fecha de torneo</p>
            <p>Nº de equipo</p>  
            <p>Clave de torneo</p>  
            <p>Reglas del torneo</p>  
        </div>
        <div id="content">

            <div class="contents">
                <div id="contentButtons">
                    <button  id="lolButton" class="gameButton">League of legends</button>
                    <button id="valorantButton" class="gameButton">Valorant</button>
                    <button id="tftButton" class="gameButton">Team fight tactics</button> 
                </div>
            </div> 



            <div class="contents">
                <input id="nameInput" type="text" placeholder=" Máximo 100 caracteres ">
            </div>



            <div class="contents">
                <div id="dateInputs">
                <label for=""> Desde</label>
                <input class="date"type="text" placeholder="dd/mm/aa">
                <label for=""> Hasta</label>
                <input class="date"type="text" placeholder="dd/mm/aa">
            </div>
        </div>


            <div class="contents">
                <input id="teamNum" class="date"type="text" placeholder="Entre 6 y 60">
            </div>


            <div class="contents">
                <input id="codeInput" class="date" type="text" placeholder="Introduce la clave generada">
            </div>


            <div class="contents">
                <input id="codeInput" class="date" type="text" placeholder="Dropdown"> &nbsp; &nbsp;<a> Ver tipos de reglas </a>
            </div>

        </div>
        <div id="generate">
            
            <div id="genContainer">
                <button class="gen"> Generar clave </button>
                <input id="clave" type="text" placeholder="xxx-xxx-xxx-xxx">
            </div>
        </div>
    </div>

    <div id="containerGenAndRes" routerLink="../admin-tools">
        <button class="genb">Generar torneo</button>
        <button class="genb" id="reset">Resetear campos</button>
    </div>
</div>






</main>
