<main>
    <header>
        <div class="padre">
            <div class="contenidoHeader">
                <a>
                    <img src="../../assets/img/logo.png.png" class="logo">
                </a>
                <div class="letrasHeader">
                    <p id="tool">HERRAMIENTA DE ADMINISTRACIÓN</p>
                </div>
                <div class="colocarImagenPerfil">
                    <img src="../../assets/img/admin-modified.png" class="iconoPerfil">
                    <p id="adminText">Manager</p>

                </div>
            </div>
            <hr class="lineaSeparadora">
        </div>
    </header>


    <div id="containerxxl"> 
        <div id="containerxl">
            <div id="titles">   
                <p>eSports</p>
                <p>Nombre de torneo</p> 
                <p>Fecha de torneo</p>
                <p>Nº equipos & tier</p>  
                <p>Clave de torneo</p>  
                <p>Reglas del torneo</p>  
            </div>
            <div id="content">

                <div class="contents">
                    <div id="contentButtons">
                        <button [ngClass]="this.selected == 1 ? 'selectButton' : 'selectedButton'" on-click="select(1)">League of legends</button>
                        <button [ngClass]="this.selected == 2 ? 'selectButton' : 'selectedButton'" on-click="select(2)">Valorant</button>
                        <button [ngClass]="this.selected == 3 ? 'selectButton' : 'selectedButton'" on-click="select(3)">Team fight tactics</button>
                    </div>
                </div> 



                <div class="contents">
                    <input id="nameInput" type="text" #nombre placeholder=" Máximo 100 caracteres ">
                </div>



                <div class="contents">
                    <div id="dateInputs">
                    <label for=""> Desde</label>
                    <input class="date"type="text" #fechainicio placeholder="dd/mm/aa">
                    <label for=""> Hasta</label>
                    <input class="date"type="text" #fechafin placeholder="dd/mm/aa">
                </div>
            </div>


                <div class="contents">
                    <input id="teamNum" class="date"type="text" #nEquipos placeholder="Entre 6 y 60">
                    <label for=""> Tier </label>
                    <input class="date" #tier placeholder="T1 a T4">
                </div>


                <div class="contents">
                    <input id="codeInput" #clave class="date" type="text" placeholder="Introduce la clave generada">
                </div>


                <div class="contents">
                    <input id="codeInput" #reglas class="date" type="text" placeholder="Introduce el tipo de reglas"> &nbsp; &nbsp;<a> Ver tipos de reglas </a>
                </div>

            </div>
            <div id="generate">
                
                <div id="genContainer">
                    <button class="gen" > Generar clave </button>
                    <input id="clave" type="text" #claveGen placeholder="xxx-xxx-xxx-xxx">
                </div>
                <div id="patrocinate">
                    <p>Patrocinado</p>
                    <input #patrocinadoCheckBox
                     id="patrocinadoCheckBox" 
                     type="checkbox" 
                     [checked]="patrocinado" 
                     (change)="patrocinadoChanged()"/>
                </div>
            </div>
        </div>

        <div id="containerGenAndRes">
            <button class="genb" on-click="anadirTorneo(nombre.value,fechainicio.value,fechafin.value,nEquipos.value,
                                           tier.value,clave.value,reglas.value)" >Generar torneo</button>
            <button class="genb" id="reset" routerLink="../admin-tools">Resetear campos</button>
        </div>
    </div>

        <!-----------------------------Cambiar pass------------------------------------->

        <div *ngIf="this.pass==true">
            <div class="fondo" on-click="cambiarPass(false)" ></div>
            <div class="mensaje">
                <h2>Cambia tus datos</h2>
                <div>
                    <div class="datos">
                        <label for="nombre">Nombre</label>
                        <input  class="input" type="text" name="nombre" id="nombre" placeholder="Cambiar nombre">
                    </div>
                    <div class="datos">
                        <label for="pass">Nueva contraseña</label>
                        <input class="input" type="text" name="pass" id="pass" placeholder="Introduce tu nueva contraseña">
                    </div>
                    <div class="datos">
                        <label for="pass2">Confirma contraseña</label>
                        <input class="input" type="text" name="pass2" id="pass2" placeholder="Confirma tu nueva contraseña">
                    </div>
                </div>
                <button class="boton" on-click="cambiarPass(false)">Aplicar</button>
            </div>
        </div>
</main>
