*{
    font-family: var(--fontRevxMedium);
}
a:hover,button:hover{
    cursor: pointer;
}
button{
    box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.4) ;
}
.padre{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15.9%;
    left: 0px;
    top: 0px;
    background-color: transparent;
}

.contenidoHeader{
    position: fixed;
    height: 11%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.lineaSeparadora{
    margin-top: 8%;
    width: 57%;
    height: 1px;
    background-color: #ffffff;
}

.nombreUser{
    position: relative;
    font-family: Revx Neue;
    color: #FFFFFF;
}
#tool{
    font-size: var(--sizeDesktopHeading1);
    font-family: var(--fontTitulos); 
    text-shadow: 5px 1px 5px rgb(14, 14, 14, 0.5);
}
#adminText{
    font-family: var(--fontRevxMedium);
    margin-left: -15%;
}
/***************************/

main{
    width: 100vw;
    height: 100vh;
    background-image: url(../../../assets/img/fondo_admin.png);
    background-size: 100%;
}

/************************************/

#containerxxl{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containerxl{
    /* border: solid 1px red; */
    height: 65%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    margin-top: 4%;
}
#titles{
    /* border: solid 1px rgb(248, 241, 241); */
    height: 100%;
    width: 20%;
}
p{
    /* border: solid 1px red; */
    width: 100%;
    height: 16.6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#content{
    /* border: solid 1px red; */
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contents{
    /* border: solid 1px red; */
    height: 16.6%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#contentButtons{
    /* border: solid 1px rgb(187, 255, 0); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.gameButton{
    /* border: solid 1px red; */
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
}
/* #valorantButton{
    background: linear-gradient(179.84deg, #ffffff 0.14%, #adadad 84.23%);
    
}
#tftButton{
    background: linear-gradient(179.84deg, #ffffff 0.14%, #adadad 84.23%);
}
#lolButton{
    background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);

} */

.selectButton{
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
    background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
}
.selectedButton{
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(179.84deg, #ffffff 0.14%, #adadad 84.23%);
}


input{
    border: 0;
    border-radius: 4px;
    text-align: center;
    color: black;
    outline: none;
}

#nameInput{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

#dateInputs{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    gap:4% 
}

.date{
    height: 50%;
    width: 25%;
}
#teamNum,#codeInput{
    margin-left: 3%
}
#codeInput{
    width: 50%;
}
a{
    text-decoration: underline;
    font-size: var(--sizeCommonCaptionDefault);
}





#generate{
    /* border: solid 1px rgb(0, 255, 42); */
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#genContainer{
    /* border: solid 1px white; */
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    text-align: center;
}
.gen{
    width: 80%;
    height: 20%;
    background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
    border: 0;
    border-radius: 4px;
}

#clave{
    height: 25%;
}
#containerGenAndRes{
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 30%;
    gap: 3%;
    align-items: center;
    justify-content: center;
}
.genb{
height: 100%;
width: 35%;
background: -webkit-linear-gradient(-90deg, #CE0037 0%, #560505 100%);
border: 0;
border-radius: 4px;
}

#reset{
    background: linear-gradient(179.84deg, #ffffff 0.14%, #adadad 84.23%);
    color: black;
}
/* **************MODAL************ */

.modal{
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: transparent;
    display: block;
}
.fondo{
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    opacity: 0.6;
    background-color: black;
    display: block;
}
.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 60%;
    position: absolute;
    z-index: 1;
    width: 25%;
    top: 20%;
    left: 37.5%;
    background: var(--colorAzulPrimarioGradient);
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.363);
}
h2{
    font-family:var(--fontRevxBold);
}
.datos{
    font-family: var(--fontRevxMedium);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    width: 100%;

}
label{
    font-size: var(--sizeCommonSubtitle);
    margin-bottom: -0.1vw;
}
.input{
    width: 19vw;
    height: 2.5vw;
    border-radius: 3px;
    border: none;
    padding-left: 1vw;
    font-family: var(--fontRevxMedium);
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.363); */
}
.boton{
    cursor: pointer;
    border: none;
    height: 3vw;
    width: 6vw;
    border-radius: 4px;
    background: var(--colorRojoGradiente);
    font-family: var(--fontRevxMedium);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.363);
}
.boton:active{
    border: none;
}


