.padre{
    height: 100vh;
    width: 100vw;
    background-image: url(../../../assets/img/fondo_fav.png);
    background-size: 100%;
    
    
}
.logo{
    width: 72px;
    height: 76.11px;
    margin-left: 5%;
    margin-top: 2%;
 }
.letrasSuperiores{
    margin-left: 15%;
    margin-top: 1%;
    font-family: var(--fontRevxBold);
    font-size: var(--sizeDesktopHeading2);
    font-weight: 900;
}
.juegos{
    display: flex;
    flex-direction:row;
    margin-top: 7%;
    margin-left: 7%;
}
.zed{
    background-image: url(../../../assets/img/zed.png);
    height: 19em;
    width: 30em;
    background-image: 100%;
}
.pingu{
    background-image: url(../../../assets/img/pingu.png);
    height: 19em;
    width: 30em;
    background-image: 100%;
    margin-left: -8%;
}
.valorant{
    background-image: url(../../../assets/img/SubtractVa.png);
    height: 19em;
    width: 30em;
    margin-left: -8%;
    background-image: 100%;
}
.zedBoton{
    height: 21em;
    width: 20em;
    background-color: transparent;
    margin-left: 24.6%;
    border: none;
    
    
}
.pinguBoton{
    height: 21em;
    width: 20em;
    background-color: transparent;
    margin-left: 24%;
    border: none;
   
}
.valorantBoton{
    height: 21em;
    width: 20em;
    background-color: transparent;
    margin-left: 24%;
    border: none;
}
.zedFormulario{
    background-image: url(../../../assets/img/Vector1.png);
    height: 20em;
    width: 35em;
    background-image: 100%;
    margin-top: -3%;
    margin-left: -5%;
    
    
}
.pinguFormulario{
    background-image: url(../../../assets/img/Vector1.png);
    height: 20em;
    width: 35em;
    background-image: 100%;
    margin-top: -3%;
    margin-left: -9%;
    
    
    
}
.valorantFormulario{
    background-image: url(../../../assets/img/Vector1.png);
    height: 20em;
    width: 35em;
    background-image: 100%;
    margin-top: -3%;
    margin-left: -9%;
    
    
    
}
.formularioPingu{
    justify-content: center;
    flex-direction: column;
    font-family: var(--fontRevxRegular);
    font-size: var(--sizeCommonSubtitle);
    
}
.nickP{
    margin-top: 4%;
    margin-left: 39%;
    color:#CE0037;
    
}
.nickFP{
    height: 2.75em;
    width: 17em;
    margin-left: 39%;
    margin-top: 1.5%;
    border-radius: 4px;
    color: black;
    font-family: var(--fontRevxRegular);
}
.posicionP{
    margin-left: 20%;
    margin-top: 3%;
    color:#CE0037;
    
}
.servidorP{
    margin-left: 31%;
    margin-top: 2.5%;
    color:#CE0037;
}
.serverFP{
    height: 2.75em;
    width: 17em;
    margin-left: 31%;
    margin-top: 1.5%;
    border-radius: 4px;
    color: black;
    font-family: var(--fontRevxRegular);
}
.posicionFP{
    height: 2.75em;
    border-radius: 4px;
    width: 17em;
    margin-left: 20%;
    margin-top: 1.5%;
    color: black;
    font-family: var(--fontRevxRegular);
}
.botonZedEstrella{
margin-left: 20%;
background-color: transparent;
border: none;
}
.botonPinguEstrella{
    margin-left: 20%;
    background-color: transparent;
    border: none;
    
}
.botonValorantEstrella{
    margin-left: 23%;
    background-color: transparent;
    border: none;
    
}
.estrellasB{
  margin-top: 2%;
    
}
.botonValorantEstrellaB{
    margin-left: 27%;
    background-color: transparent;
    border: none;
}
.botonZedEstrellaB{
    margin-left: 15%;
    background-color: transparent;
    border: none;
    margin-right: 7%;
}
.botonPinguEstrellaB{
    margin-left: 20%;
    background-color: transparent;
    border: none;
}
.parteInferior{
    justify-content: right;
    display: flex;
    flex-direction: row;
    padding-right: 10%;


}
.sige{
    width: 10em;
    height: 4em;
    background: linear-gradient(180deg, #CE0037 0%, #560505 100%);
    border-radius: 4px;
   margin-top: 20%; 
}
.letrasAbajo{
    font-family: var(--fontRevxRegular);
    margin-right: 26%;
    margin-top: 3%;
}
.lol{
    padding-left: 25%;
    margin-top: -2.5%;
}
.letrasForm{
margin-left: 25%;
}
.letrasVal{
    margin-left: 20%;
}