<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/580b57fcd9996e24bc43c2f3.png" alt="Seth" >
        </div>
        <div class="contenedor">
                <div class="tipo">
                        <p>AMISTOSA</p>
                </div>
                <div class="descripcion">
                        <div class="arriba">
                                <input class="buscar" placeholder="Buscar por nombre">
                                <div class="filtrar">
                                        <p class="filtro">Filtrar</p>
                                        <img class="img" src="../../../assets/img/filter.svg" alt="filter">
                                </div>
                        </div>
                        <div class="equipos">
                                <div class="lista">
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                        <p>EQUIPO</p>
                                </div>
                                <div class="barrita"></div>

                        </div>
                </div>
                <div class="botones">
                        <button class="boton1Azul">
                               <p class="combatir">Buscar</p> 
                        </button>
                        <button class="boton2">
                                Volver
                        </button>
                </div>
        </div>
</div>
