<div class="padre">
        <div class="contieneImagen">
                <img class="imagen" src="../../../assets/img/580b57fcd9996e24bc43c2f3.png" alt="Poppy" >
        </div>
        <div class="contenedor">
                <div class="tipo">
                        <p>AMISTOSA</p>
                </div>
                <div class="descripcion">
                        <div class="arriba">
                                <input class="buscar" placeholder="Buscar por nombre">
                                <div class="filtrar">
                                        <p class="filtro">Filtrar</p>
                                        <img class="img" src="../../../assets/img/filter.svg" alt="filter">
                                </div>
                        </div>
                        <div class="equipos">
                                <div class="lista">
                                        <div class="etiquetaEquipo" *ngFor="let equipo of equipos" on-click="seleccionar()">
                                                <div class="rank">Rank</div>  
                                                <div class="numeroRank">{{equipo.rank}}</div> 
                                                <div class="numeroRank linea">|</div>   
                                                <a routerLink="../perfil-equipo" on-click="seleccionado" class="nombre">{{equipo.nombre}}</a>  
                                                <div class="stats">
                                                        <div class="numeroStats">WR </div>
                                                        <div class="numeroStats wr">{{equipo.wr}} </div>
                                                        <div class="numeroStats">/ </div>
                                                        <div class="numeroStats">ELO </div>
                                                        <div class="numeroStats elo">{{equipo.elo}} </div>
                                                </div>             
                                        </div>
                                </div>
                                <div class="barrita"></div>

                        </div>
                </div>
                <div class="botones">
                        <button [ngClass]="this.seleccionado == false ? 'boton3' : 'boton1'" routerLink="../partida-detalle">
                               <p class="combatir">Combatir</p> 
                        </button>
                        <button class="boton2">
                                Volver
                        </button>
                </div>
        </div>
</div>
