.padre{
        display: flex;
        flex-direction: column;
        align-items: center;    
        background-size: 100%;
        height: 100vh;
        background-image: url("../../../assets/img/fondo_basico.jpg");
        background-color: #142236;
        overflow: hidden;
}
.contieneImagen{
        width: 100%;
}
.imagen{
        position: absolute;
        margin-top: 20%;
        height: 22vw;
        margin-left: -9%;
        margin-top: 24.8%;
        z-index: 2;
}
.tipo{     
        border-radius: 2px;
        margin-bottom: 1vw;
        margin-top: 24vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        background-color: white;
        height: 1.7em;
        width: 6em;
        font-size: var(--sizeDesktopHeading2);
        font-family: var(--fontRevxBold);
        box-shadow: 5px 5px 15px rgb(14, 14, 14, 0.5);
}
.tipo > p{
        background: -webkit-linear-gradient(-90deg, #123D66 0%, #102A42 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
.descripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--colorAzulPrimario);
        background: var(--colorAzulPrimarioGradient);
        box-shadow: 5px 5px 15px rgb(14, 14, 14, 0.5);
        border-radius: 4px;  
        width: 55vw;
        height: 24vw;
}
.contenedor{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5vh;
        margin-top: 10vw;
}
.arriba{
        height: 6vh;
        width: 46vw;
        display: flex;
        justify-content: space-between;
}
.buscar{
        padding-top: 0.1em;
        height: 100%;
        width: 65%;
        color: var(--colorAzulOscuroPrimario);
        font-size: var(--sizeCommonBody2);
        font-family: var(--fontRevxMedium);
        background-color: white;
        border-radius: 6px;
        border: none;
        background-image: url('../../../assets/img/search.svg');
        background-position:1vw;
        background-size: 4vh;
        background-repeat:no-repeat;
        padding-left: 3.5vw;
        outline: none
}
.filtrar{
        height: 100%;
        width: 8vw;
        background-color: white;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        box-shadow: 1px 0px 4px rgb(14, 14, 14, 0.5);
}
.filtro{
        color: #102A42;
        font-family: var(--fontRevxMedium);
        font-size: var(--sizeCommonBody2);
}
.img{
        margin-top: 1vh;
        height: 2vw;
}
input::placeholder{
        font-size: var(--sizeCommonCaptionDefault);
        text-decoration: underline;
        font-family: var(--fontRevxMedium);
        opacity: 0.8;
}
input:focus, :active :checked,:enabled{
        border: none;   
}
.equipos{
        display: flex;
        margin-top: 2vh;
        border-radius: 4px;
        color: var(--colorAzulPrimario);
        background: rgb(7, 34, 58, 0.8);
        width: 51vw;
        height: 18vw;
}
.barrita{
        margin-top: 0.5vw ;
        border-radius: 50px;
        position: fixed;
        height: 17vw;
        background-color: #242424;
        width: 0.8vw;
        margin-left: 48.86vw;
}
.lista{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4vw;
        position: relative;
        margin-top: 0.8vw;
        padding-left: 1.8vw;
        background: transparent;
        width: 49.5vw;
        height: 16.5vw;
        overflow: scroll;
        overflow-x: hidden;
        z-index: 1;
}
.etiquetaEquipo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2vw;
        gap: 1vw;
        font-family: var(--fontRevxBold);
        width: 47vw;
        height: 3.8vw;
        padding: 0.3vw;
        background-color: var(--colorAzulPrimario);
        border-radius: 0.4vw;
        border: solid 1px white;
        box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.4);
        transition: padding 0.3s;
}
.etiquetaEquipo:hover{
        background-color: rgba(25, 59, 102, 0.5);
        width: 48vw;
        padding: 1vw;
        cursor: pointer;
}
.etiquetaEquipo:active{
        border: solid 1px red
}
.rank{
        font-size: var(--sizeDesktopHeading4);
}
.numeroRank{
        font-size: var(--sizeCommonBody1);
        margin-top: 0.2vw;
        font-family: var(--fontRevxMedium);
}
.nombre{
        font-size: var(--sizeDesktopHeading3);
        font-family: var(--fontRevxBold);
        text-shadow: 0px 3px 5px rgb(0, 0, 0, 0.4);
}
.nombre:hover{
        color: #a1a1a1;
}
.stats{
        margin-left: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.2vw;
        font-family: var(--fontRevxMedium);
        font-size: var(--sizeCommonBody1);
        background-color:var(--colorAzulOscuroPrimario);
        width: 15vw;
        height: 2.5vw;
        border-radius: 0.5vw;
        gap: 0.5vw;
}
.linea{
        margin-right: 0.7vw;
}
.botones{
        display: flex;
        margin-top: 0.7vw;
        gap: 1vw;
}
.boton2{
        background: var(--colorGrisFormularios);
        color: white;
        border: transparent;
}
a:hover{
        cursor: pointer;
}
a:visited,:link,:active{
        text-decoration-thickness: 0.15vw;
}
button{
        width: 10rem;
        height: 6.5vh;
        font-size: var(--sizeCommonBody2);
        font-family: var(--fontRevxMedium);
        border: transparent;
        border-radius: 2px;
        box-shadow: 5px 1px 5px rgb(14, 14, 14, 0.5);
}
button:hover{
        cursor: pointer;
}
.boton3 > p {
        color: #a1a1a1;
}
.boton3{
        opacity: 0.4 ;
}
.boton1 > p {
        color:#102A42;
}
/* width */
::-webkit-scrollbar {
        width: 0.5vw;
        /* border: solid 2px #242424; */
}      
/* Track */
::-webkit-scrollbar-track {
        background-color: #242424;
        border-radius: 10px;
}      
      /* Handle */
::-webkit-scrollbar-thumb {
        background: var(--colorGrisGradient); 
        border-radius: 10px;
}
      
      /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        background: var(--colorGrisGradient); 
}